.EarnedPopup {

  height: 100%;
  border-radius: 0;
  padding: 0 20px;

  @include desktop {
    width: 395px !important;
    height: auto;
    border-radius: 10px;
    padding: 35px 30px;
  }

  .Modal__content {
    // max-height: unset;
  }

  .Modal__header {
    position: relative;
    display: flex;
    align-items: center;
    // height: 60px;
    // margin-bottom: 20px;

    padding: 18px 20px; 

    @include desktop {
      margin-bottom: 30px;
      padding: 0;
    }
  }

  .Modal__title {
    @include font-style('font-1', 'b', 20px);
    line-height: 24px;
    color: #222222;
    
    text-align: center;
    position: relative;
    width: 100%;

    @include desktop {
      @include font-style('font-1', 'b', 24px);
      text-align: left;
      line-height: 29px;
    }
  }

  .Modal__close {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    cursor: pointer;
  }
}

.EarnedItem {
  display: flex;
  width: 100%;

  &:last-of-type {
    .EarnedItem__content {
      border: 0;
    }
  }
}

.EarnedItem__content {
  height: 77px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #EBEEF5;
}

.EarnedItem__icon {
  width: 26px;
  height: 26px;
  margin: 25px 11px 0 -1px;
  border-radius: 50%;
}

.EarnedItem__left {

}

.EarnedItem__title {
  @include font-style('font-1', 'b', 16px);
  color: #333333;
}

.EarnedItem__subtitle {
  @include font-style('font-1', 'm', 14px);
  color: #969BAB;
}

.EarnedItem__left {
  display: flex;
  align-items: center;
}

.EarnedItem__titleWrapper {
  display: flex;
  flex-direction: column;
}

.EarnedItem__right {
  display: flex;
  align-items: center;
  
  @include font-style('font-1', 'm', 13px);
  color: #131414;

  strong {
    @include font-style('font-1', 'b', 16px);
    color: #265ffc;
    margin-right: 6px; 
  }
}

.EarnedItem__claimButton {
  @include button-1(38px);
  @include font-style('font-1', 'b', 14px);
  background-color: #2d65fc;
  padding: 0 13px;
  margin-left: 6px;
  color: #fff;
  width: 72px;
  white-space: nowrap;
}