.FarmingAssetList {
  
}

.FarmingAssetList__cards {
  display: flex;
  flex-direction: column;

  @include desktop {
    display: none;
  }
}

.FarmingAssetList__grid {
  display: none;
  @include desktop {
    display: flex;
    flex-direction: column;
  }

  &--killed {
    margin-bottom: 50px;
  }
}

.FarmingAssetList__gridHeader {

  @include desktop {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 165px 120px;
    height: 46px;
    border-top: 1px solid rgba(#DADDE6, .6);
    border-bottom: 1px solid rgba(#E9ECF5, .8);
  }
}

.FarmingAssetList__gridHeaderItem {
  @include font-style('font-1', 'm', 14px);
  color: #777D8F;
  display: flex;
  align-items: center;
}

.FarmingAssetList__tokenHeader {

}

.FarmingAssetList__aprapyHeader {
  justify-content: center;
}

.FarmingAssetList__aprDetailHeader {
  justify-content: center;
  padding-left: 32px;
}

.FarmingAssetList__marketValueHeader {
  justify-content: center;
}

.FarmingAssetList__tokenAmountHeader {
  justify-content: center;
}

.FarmingAssetList__inStakingHeader {
  justify-content: center;
}


.FarmingAssetList__gridContent {

}

.FarmAssetList__threshold {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.FarmAssetList__thresholdTitle {
  @include font-style('font-1', 'b', 13px);
  color: #F85C5C;
  margin-right: 2px;
}

.FarmAssetList__thresholdDescription {
  @include font-style('font-1', 'r', 13px);
  color: #868FA8;
}

.FarmingAssetList__killedAssetInfo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.FarmingAssetList__killedAssetInfoTitle {
  @include font-style('font-1', 'b', 17px);
  color: #222222;
  margin-right: 7px;
}

.FarmingAssetList__killedAssetDescription {
  @include font-style('font-1', 'm', 14px);
  color: #868FA8;
}