.LendNStakeAssetBrief {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;
}

.LendNStakeAssetBrief__total {
  @include font-style('font-1', 'b', 25px);
  color: #000000;
  margin-bottom: 13px;
}

.LendNStakeAssetBrief__gauge {
  display: flex;
  width: 100%;
  height: 4px;
  margin-bottom: 14px;
}

.LendNStakeAssetBrief__gaugeItem {

  &--1 {
    background-color: #5985FF;
  }
  &--2 {
    background-color: #43E0B1;
  }
  &--3 {
    background-color: #FFAA00;
  }
  &--4 {
    background-color: #C458FB;
  }
  &--5 {
    background-color: #3BD100;
  }
  &--6 {
    background-color: #FF6827;
  }
  &--7 {
    background-color: #8BBFF2;
  }
  &--8 {
    background-color: #009A88;
  }
  &--9 {
    background-color: #FF74B7;
  }
  &--10 {
    background-color: #FFC979;
  }


  &:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

}

.LendNStakeAssetBrief__gaugeLabels {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 24px;
}

.LendNStakeAssetBrief__gaugeLabel {
  @include font-style('font-1', 'm', 14px);
  display: flex;
  align-items: center;
  color: #636878;
  margin-right: 10px;
  
  &:last-of-type {
    margin-right: 0;
  }

&--1::before{
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #5985FF;
  }
  &--2::before{
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #43E0B1;
  }
  &--3::before{
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #FFAA00;
  }
  &--4::before{
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #C458FB;
  }
  &--5::before{
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #3BD100;
  }
  &--6::before{
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #FF6827;
  }
  &--7::before{
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #8BBFF2;
  }
  &--8::before{
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #009A88;
  }
  &--9::before{
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #FF74B7;
  }
  &--10::before {
    display: flex;
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #FFC979;
  }

}

.LendNStakeAssetBrief__percentage {
  @include font-style('font-1', 'r', 14px);
  margin-left: 3px;
  color: #8B96B3;
}