.LendNStakeAssetCard {
  display: flex;
  align-items: flex-start;

  padding-bottom: 30px;
  border-bottom: 1px solid  #E6EAF2;

  margin-left: -1px;
  margin-bottom: 30px;

  &:last-of-type {
    border: 0;
  }
}

.LendNStakeAssetCard__icon {
  width: 31px;
  height: 31px;

  position: relative;
  top: -6px;

  &::before {
    @include font-style('font-1', 'b', 12px);
    color: #ffffff;
    content: "ib";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #4070FF 0%, #6188FF 100%);
    box-shadow: 0px 2px 1px -1px rgba(0, 19, 68, 0.2);
  }

  img {
    width: 31px;
    height: 31px;
  }
}

.LendNStakeAssetCard__content {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.LendNStakeAssetCard__contentHeader {

  padding-bottom: 16px;
  border-bottom: 1px solid #F0F2F7;
  margin-bottom: 15px;

  .LabelAndValue__label {
    @include font-style('font-1', 'b', 18px);
    color: #222222;
    line-height: 19px;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'b', 18px);
    color: #265FFC;
    line-height: 19px;
  }

  .QuestionMark__title {
    @include font-style('font-1', 'b', 18px);
    color: #265FFC;
    line-height: 19px;
  }
}

.LendNStakeAssetCard__marketValue {
  margin-bottom: 13px;
  line-height: 19px;

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    color: #333333;
    line-height: 19px;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'b', 17px);
    color: #333333;
    line-height: 19px;
  }
}

.LendNStakeAssetCard__tokenAmount {
  margin-bottom: 13px;
  .LendNStakeAssetCard__tokenAmountTitle {
    @include font-style('font-1', 'm', 15px);
    color: #333333;
    margin-bottom: 4px;
    line-height: 19px;
  }
  
  .LendNStakeAssetCard__tokenAmountValue {
    @include font-style('font-1', 'b', 15px);
    color: #333333;
    line-height: 19px;
    margin-bottom: 4px;
  }
  
  .LendNStakeAssetCard__tokenAmountSubtitle {
    @include font-style('font-1', 'm', 14px);
    color: #777D8F;
    line-height: 17px;
  }
  
  .LendNStakeAssetCard__tradeableValue {
    @include font-style('font-1', 'm', 14px);
    color: #777D8F;
    line-height: 17px;
  }

  .LabelAndValue__value {
    text-align: right;
  }
}

.LendNStakeAssetCard__stakingValue {
  margin-bottom: 13px;
  line-height: 19px;
  .LabelAndValue__label {
    @include font-style('font-1', 'b', 15px);
    color: #333333;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'b', 15px);
    color: #265FFC;
  }
}

.LendNStakeAssetCard__gaugeBar {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #E6EBF7;
  margin-bottom: 20px;
}

.LendNStakeAssetCard__gauge {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #5985FF;
  z-index: 9;
  border-radius: 4px;
}

.LendNStakeAssetCard__stakingButtons {
  display: flex;
  margin-bottom: 9px;
}

.LendNStakeAssetCard__unstake {
  @include button-1(43px);
  @include font-style('font-1', 'b', 15px);
  line-height: 19px;
  background-color:  #EDF2FC;
  color: #265FFC;
  flex: 1;
  margin-right: 7px;

  &--disabled {
    background-color:  #E1E4EB;
  }
}

.LendNStakeAssetCard__stake {
  @include button-1(43px);
  @include font-style('font-1', 'b', 15px);
  line-height: 19px;
  background-color: #2D65FC;
  flex: 1;

  &--disabled {
    background-color:  #E1E4EB;
  }
}

.LendNStakeAssetCard__withdraw {
  @include button-1(43px);
  @include font-style('font-1', 'b', 15px);
  width: 100%;
  background-color:  #EDF2FC;
  color: #265FFC;

  &--disabled {
    background-color:  #E1E4EB;
  }
}
