.ManagementAsset {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: 0;
  }
}

.ManagementAsset__title {
  @include font-style('font-1', 'b', 17px);
  line-height: 20px;
  color: #333333;
  margin-bottom: 5px;
}

.ManagementAsset__value {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    align-items: baseline;
  }
}

.ManagementAsset__totalManagedValue {
  @include font-style('font-1', 'b', 32px);
  color: #151515;
  margin-bottom: 5px;
  margin-right: 8px;
  line-height: 37px;

  @include desktop {
    @include font-style('font-1', 'b', 38px);
  }
}

.ManagementAsset__debt {
  @include font-style('font-1', 'm', 16px);
  line-height: 19px;
  color: #FA5A5A;
}
