.MyAsset {
  // padding-bottom: 100px;

  &--contentView {

  }

  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }
}

.MyAsset__header {
  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }
  padding: 0 20px;
}

.MyAsset__content {
  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }

  padding: 0 20px;
}

.MyAsset__tabsTitle {
  @include font-style('font-1', 'b', 19px);
  color: #222222;
  margin-bottom: 16px;
}