.MyAsset {
  // padding-bottom: 100px;

  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }
}

.MyAsset__tabs {
  margin-bottom: 24px;

  @include desktop {
    margin-bottom: 24px;
  }
}

.MyAsset__header {
  padding: 0 20px;
  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
    padding: 0;
  }
}

.MyAsset__content {
  padding: 0 20px;
  
  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
    padding: 0 0 60px 0;
  }

  // padding-bottom: 80px;
}

.MyAsset__tabsTitle {
  @include font-style('font-1', 'b', 19px);
  color: #222222;
  margin-bottom: 14px;
  
  line-height: 23px;
}

.MyAsset__videoSectionTitle {
  @include font-style('font-1', 'b', 22px);
  color: #222222;
  margin-bottom: 20px;
}

.MyAsset__connectGuide {
  .Guide__title {
    @include font-style('font-1', 'b', 22px);
    width: 100%;
  }

  .Guide__button {
    width: 100%;
    height: 50px;
  }

  @include desktop {
    .Guide__title {
      @include font-style('font-1', 'b', 19px);
      width: auto;
      margin-bottom: 0;
    } 

    .Guide__button {
      width: auto;
      font-size: 20px;
      height: 50px;
      border-radius: 5px;
    }
  }
}

.MyAsset__participateGuide {
  .Guide__title {
    @include font-style('font-1', 'b', 22px);
    width: 100%;
  }

  .Guide__button {
    width: 100%;
    height: 50px;
    background-color: #EDF2FC;
    color: #265FFC;
    flex: unset;
    margin-top: 8px;
    border-radius: 5px;
    @include font-style('font-1', 'sb', 16px);
  }

  .Guide__buttons {
    flex-direction: column;
    margin-top: 20px;
  }

  @include desktop {
    .Guide__title {
      @include font-style('font-1', 'b', 19px);
      width: auto;
      margin-bottom: 0;
    } 

    .Guide__buttons {
      flex-direction: row;
      margin-top: 0;
    }

    .Guide__button {
      width: auto;
      flex: 1;
      margin-top: 20px;

      font-size: 16px;
      height: 50px;
      border-radius: 5px;
    }
  }
}