.LendAndStake {
  padding: 0 20px;

  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }
}

.LendAndStake__introTitle {
  @include font-style('font-1', 'b', 24px);
  color: #222222;
  margin-bottom: 8px;
}

.LendAndStake__introDescription {
  @include font-style('font-1', 'm', 15px);
  color: #616674;
  margin-bottom: 12px;
  line-height: 22px;
}

.LendAndStake__introMisc {
  @include font-style('font-1', 'b', 16px);
  color: #3C6BFA;

  display: flex;
  align-items: center;
  line-height: 19px;

  &::before {
    content: "";
    display: inline-block;
    background-image: url(/static/images/exported/play-blue.svg);
    
    background-size: 100%;
    width: 19px;
    height: 19px;
    margin-right: 5px;
  }
}


.LendAndStake__list {
  margin-top: 32px;

  @include desktop {
    margin-top: 36px;
  }
}