.LendingPoolListItemCard {
  background-color: #fff;
  padding: 0;
  padding-bottom: 32px;
  padding-top: 28px;
  position: relative;
  border-bottom: 1px solid #E6E9F2;
  
  &:first-of-type {
    padding-top: 0;
  }
}

.LendingPoolListItemCard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LendingPoolListItemCard__content {
  padding-top: 15px;
  padding-left: 44px;
}

.LendingPoolListItemCard__apy {
  @include font-style('font-1', 'b', 18px);
  display: flex;
  align-items: center;
  color: #265FFC;
}

.LendingPoolListItemCard__contentWrapper {
  
}

.LendingPoolListItemCard__lv {
  margin-bottom: 10px;
  
  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    display: flex;
    align-items: center;
    color: #333333;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'sb', 15px);
    color: #333333;
  }

  &--apy {
    .LabelAndValue__label {
      color: #3369ff;
    }

    .LabelAndValue__value {
      @include font-style('font-1', 'b', 16px);
      color: #3369ff;
    }
  }

  &--apr {
    // margin-bottom: 16px;
  }

  &--balance {
    .LabelAndValue__value {
      @include font-style('font-1', 'sb', 15px);
      color: #8B95B2;
    }
    margin-bottom: 15px;
  }

}

.LendingPoolListItemCard__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.LendingPoolListItemCard__depositButton {
  flex: 1;
  @include button-1(42px);
  @include font-style('font-1', 'sb', 14px);
  width: 100%;

  &--disabled {
    @include disabled-button;
  }
}

.LendingPoolListItemCard__simulationButton {
  flex: 1.8;
  @include button-1(42px);
  @include font-style('font-1', 'sb', 14px);
  width: 100%;
  background-color: #EDF2FA;
  color: #3C6BFA;
  margin-right: 7px;

  &--disabled {
    @include disabled-button;
  }
}

.LendingPoolListItemCard__aprDetail {
  border-left: 4px solid #f5f5f5;
  padding-left: 12px;
  margin-bottom: 13px;
}

.LendingPoolListItemCard__aprDetailItem {
  margin-bottom: 4px;

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 13px);
    color: #494a4d;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 13px);
    color: #494a4d;
  }
}