@mixin grid-column {
  // grid-template-columns: 220px 190px repeat(auto-fit, minmax(100px, 1fr));
  // grid-template-columns: 20fr 20fr 12.5fr 12.5fr 12.5fr 12.5fr 128px;
  // grid-template-columns: 24fr 24fr minmax(120px, 14fr) minmax(120px, 14fr) 86px 24fr 84px;
  grid-template-columns: 8fr 8fr 5fr 8fr 5fr 6fr 6fr;
  
  // max-width: calc(1920px - 240px);
  max-width: 980px;
}

.LendingPoolList {
  padding: 0;
  width: 100%;
  padding-bottom: 32px;
  
  @include desktop {
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .LabelAndValue {
    @include font-style('font-1', 'm', 14px);
    color: #333333;
  }
}

.LendingPoolList__list {
  
}

.LendingPoolList__title {
  @include font-style('font-1', 'b', 18px);
  color: #131414;
  margin-bottom: 19px;
  padding-left: 12px;
  
  @include desktop {
    @include font-style('font-1', 'b', 20px);
    color: #ffffff;
    margin-bottom: 28px;
    padding-left: 0;
  }
}


// Table View
.LendingPoolList__tableContents {
  @include grid-column;
  width: calc(100vw - 240px);
  display: grid;
  border-radius: 8px;
  // box-shadow: 0 2px 10px 0 rgba(24, 24, 24, 0.05);
  // background-color: #fff;
  // border-bottom: 1px solid #f5f5f5;
  // padding: 0 24px;
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.LendingPoolListTableHeader {
  @include grid-column;
  display: grid;
  // background-color: #fff;
  border-left: 0;
  border-right: 0;
  width: calc(100vw - 240px);

  border-top: 1px solid #DADDE5;
  border-bottom: 1px solid #E6E7F2;
  padding: 15px 0;

  div {
    @include font-style('font-1', 'm', 14px);
    color: #777D8F;
    line-height: 18px;
    
    display: flex;
    align-items: center;

    &:nth-child(7n+1) { 
      padding-right: 28px; 
    }
    &:nth-child(7n+2) { padding-right: 0; }
    &:nth-child(7n+3) { 
      // padding-right: 16px; 
      padding-right: 0;
      justify-content: flex-end;
    }
    &:nth-child(7n+4) { 
      // padding-right: 16px; 
      justify-content: center;
    }
    &:nth-child(7n+5) { 
      justify-content: center;
      // padding-right: 16px; 
    }
    &:nth-child(7n+6) { 
      // padding-right: 16px; 
      padding-right: 0;
      justify-content: center;
    }
    &:nth-child(7n) { padding-right: 0; }
  }
}

// Card View
.LendingPoolList__cardContents {

}

.LendingPoolList__cardContentsHeader {
  border-top: 1px solid rgba(#e6e9f2, .8);
  padding-top: 26px;
  margin-bottom: 24px !important;
  line-height: 19px;

  .LabelAndValue__label {
    @include font-style('font-1', 'b', 17px);
    color: #333333;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'm', 15px);
    color: #9299AA;
  }
}