.LendingPoolListItem {
  @include font-style('font-1', 'm', 14px);
  display: flex;
  flex-direction: column;
  color: #333333;
  justify-content: center;
  // padding-top: 20px;
  // padding-bottom: 24px;
  word-break: break-all;

  height: 120px;
  border-bottom: 1px solid #E6E7F2;

  &:nth-child(7n+1) { 
    // padding-right: 20px; 
  }
  // &:nth-child(7n+2) { padding-right: 20px; }
  &:nth-child(7n+2) { 
    // padding-right: 42px; 
  }
  &:nth-child(7n+3) { padding-right: 16px; }
  &:nth-child(7n+4) { 
    // padding-right: 16px; 
    justify-content: center;
  }
  &:nth-child(7n+5) { 
    // padding-right: 16px; 
  }
  &:nth-child(7n+6) { 
    // padding-right: 16px; 
    padding-right: 20px;
  }
  &:nth-child(7n) { padding-right: 0; }

  &--last {
    // border-bottom: 0;
  }

  .LabelAndValue {
    width: 100%;
    justify-content: center;
  }

  &--totalSupply {
    // flex-direction: column;
    // flex-wrap: wrap;
    // align-items: center;
    // align-content: center;
    // justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .LendingPoolListItem__tokenSymbol {
      text-align: center;
      color: #333333;
      margin-left: 4px;
    }
  }

  &--utilizationRatio {
    @include font-style('font-1', 'b', 14px);
    color: #333333;
    text-align: center;
  }
}

.LendingPoolListItem__tokenValue {
  text-align: center;
  // margin-bottom: 6px;
}

.LendingPoolListItem__tokenBalance {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;

  @include font-style('font-1', 'm', 14px);
  color: #8B96B2;
}

.LendingPoolListItem__aprDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E6E7F2;

  &--last {
    // border-bottom: 0;
  }
}

.LendingDepositAndSimulation {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 100%;

  align-items: flex-end;
}

.LendingDepositAndSimulation__depositButton {
  @include button-1(36px);
  @include font-style('font-1', 'sb', 14px);
  width: 100%;
  margin-bottom: 8px;

  &--disabled {
    @include disabled-button;
  }
}

.LendingDepositAndSimulation__simulationButton {
  @include button-1(36px);
  @include font-style('font-1', 'sb', 14px);
  width: 100%;
  background-color: #EDF2FC;
  color: #265FFC;
  margin-bottom: 8px;

  &--disabled {
    @include disabled-button;
  }
}

.LendingPoolListItem__tokenValue {
  
}

.LendingPoolListItem__tokenSymbol {
  @include font-style('font-1', 'm', 14px);
  color: #777d8f;
}

.LendingPoolListItem__apy {
  .LabelAndValue__value {
    @include font-style('font-1', 'b', 17px);
    color: #2D65FC;
    margin-bottom: 2px;
  }
}

.LendingPoolListItem__apr {
  .LabelAndValue__value {
    @include font-style('font-1', 'm', 14px);
    color: #777d8f;
  }
}

.LendingPoolListItem__aprDetail {
  
  .LabelAndValue {
    width: 100%;
    margin-bottom: 6px;
    padding-right: 38px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .LabelAndValue__label {
    flex: 1;
    text-align: right;
    margin-right: 8px;
  }
  
  .LabelAndValue__value {
    flex: 1;
    text-align: right;
    @include font-style('font-1', 'sb', 14px);
  }
}