.LendingPoolListItemCard {
  background-color: #fff;
  padding: 0;
  padding-top: 22px;
  position: relative;
  
  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
    .LendingPoolListItemCard__content {
      border-bottom: 0;
    }
  }
}

.LendingPoolListItemCard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LendingPoolListItemCard__content {
  padding-top: 8px;
  margin-left: 44px;
  padding-bottom: 30px;
  border-bottom: 1px solid #F0F2F7;
}

.LendingPoolListItemCard__apy {
  @include font-style('font-1', 'b', 18px);
  display: flex;
  align-items: center;
  color: #265FFC;
  line-height: 19px;
}

.LendingPoolListItemCard__contentWrapper {
  
}

.LendingPoolListItemCard__lv {
  margin-bottom: 10px;
  line-height: 19px;
  
  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    display: flex;
    align-items: center;
    color: #333333;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'sb', 15px);
    color: #333333;
  }

  &--apy {
    .LabelAndValue__label {
      color: #265ffc;
    }

    .LabelAndValue__value {
      @include font-style('font-1', 'b', 16px);
      color: #265ffc;
    }
  }

  &--apr {
    // margin-bottom: 16px;
  }

  &--balance {
    .LabelAndValue__value {
      @include font-style('font-1', 'sb', 15px);
      color: #8B95B2;
    }
    margin-bottom: 15px;
  }

}

.LendingPoolListItemCard__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.LendingPoolListItemCard__depositButton {
  flex: 1;
  @include button-1(43px);
  @include font-style('font-1', 'b', 15px);
  width: 100%;
  line-height: 19px;

  &--disabled {
    @include disabled-button;
    background-color: #E1E4EB !important;
  }
}

.LendingPoolListItemCard__simulationButton {
  flex: 1.8;
  @include button-1(43px);
  @include font-style('font-1', 'b', 15px);
  width: 100%;
  line-height: 19px;
  background-color: #EDF2FA;
  color: #265ffc;
  margin-right: 7px;

  &--disabled {
    @include disabled-button;
  }
}

.LendingPoolListItemCard__aprDetail {
  border-left: 4px solid #f5f5f5;
  padding-left: 12px;
  margin-bottom: 13px;
}

.LendingPoolListItemCard__aprDetailItem {
  margin-bottom: 4px;

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 13px);
    color: #494a4d;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 13px);
    color: #494a4d;
  }
}