.LendAndStakeControllerPopup {

}

.LendAndStakeControllerPopup__modal {
  @include desktop {
    .Modal__content {
      overflow: unset;
    }
  }
}

.LendAndStakeControllerPopup__title {
  @include font-style('font-1', 'sb', 22px);
  line-height: 30px;
  color: #222222;
}

// description
.LendAndStakeControllerPopup__description {
  @include font-style('font-1', 'm', 15px);
  color: #777D8F;
  margin-top: 14px;
  line-height: 22px;
}

.LendAndStakeControllerPopup__ibTokenPrice {
  @include font-style('font-1', 'm', 15px);
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 35px;
  color: #787F98;
}

// available
.LendAndStakeControllerPopup__available {
  margin-top: 20px;
  display: flex;
  align-content: center;
  margin-bottom: 10px;
}

.LendAndStakeControllerPopup__availableLabel {
  @include font-style('font-1', 'm', 15px);
  color: #787F98;
}

.LendAndStakeControllerPopup__availableAmount {
  @include font-style('font-1', 'sb', 15px);
  color: #222222;
  margin-left: 5px;
}

// willReceive
.LendAndStakeControllerPopup__willReceive {
  display: flex;
  align-content: center;
  margin: 17px 0;
}

.LendAndStakeControllerPopup__willReceiveLabel {
  @include font-style('font-1', 'm', 15px);
  color: #787F98;
}

.LendAndStakeControllerPopup__willReceiveAmount {
  @include font-style('font-1', 'sb', 15px);
  color: #3B70F7;
  margin-left: 5px;
}

// aprDetail
.LendAndStakeControllerPopup__aprDetail {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #E9EAF0;

  .LabelAndValue {
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 16px);
    color: #333333;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'sb', 17px);
    color: #333333;
  }
}

.LendAndStakeControllerPopup__stakingAPR {  
  .LabelAndValue__value {
    @include font-style('font-1', 'b', 17px);
    color: #265FFC;
  }
}

// Button
.LendAndStakeControllerPopup__confirmButton {
  @include button-1(50px);
  @include font-style('font-1', 'b', 16px);
  width: 100%;
  margin-top: 20px;
}

.LendAndStakeControllerPopup__doLaterButton {
  @include button-1(50px);
  @include font-style('font-1', 'm', 16px);
  background-color: transparent;
  color: #787F98;
  width: 100%;
  margin-top: 7px;
}

.LendAndStakeControllerPopup__depositInput {
  margin-bottom: 17px;
  height: 50px;
}


// inputAndButton
.LendAndStakeControllerPopup__inputAndButton {
  display: flex;
  align-items: center;
  margin-bottom: 34px;

  .LendAndStakeControllerPopup__depositInput {
    width: 239px;
    margin-right: 7px;
    margin-bottom: 0;
  }
}

.LendAndStakeControllerPopup__wrapButton {
  @include button-1(50px);
  @include font-style('font-1', 'b', 16px);
  flex: auto;
}

.LendAndStakeControllerPopup__hr {
  border-top: 0;
  background-color: rgba(#E6E7F2, .8);
  margin-bottom: 32px;
}