.ALMInfoModal {
  width: 375px;
  padding: 45px 30px 35px;
  height: 435px;

  border-radius: 16px;
}

.ALMInfoModal__LabelAndValue {
  margin-bottom: 4px;

  &--withIcon {
    .LabelAndValue__value {
      display: flex;
      align-items: center;
      line-height: 24px;

      &::before {
        content: "";
        display: flex;
        background-repeat: no-repeat;
        width: 72px;
        height: 15px;
        margin-right: 8px;
        background-image: url(/static/images/exported/boosted-bi.svg);
      }
    }
  }

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 16px);
    color: #222222;
    line-height: 24px;
  }

  .BeforeAfter__before {
    font-size: 16px;
  }

  .BeforeAfter__after {
    @include font-style('font-1', 'b', 16px);
    color: #8F00FF;
  }

  .BeforeAfter__arrow {
    width: 11px;
    height: 10px;
    margin: 0 5px;
  }
}