.ALMInfoModal2 {

  .Modal__header {
    padding-bottom: 25px;
  }

  .Modal__close {
    top: 15px;
    right: 15px;
  }
}

.ALMInfoModal2__LabelAndValue {
  margin-bottom: 4px;

  &--withIcon {
    .LabelAndValue__value {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        display: flex;
        background-repeat: no-repeat;
        width: 72px;
        height: 15px;
        margin-right: 8px;
        background-image: url(/static/images/exported/boosted_75x12.svg);
      }
    }
  }

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 16px);
    color: #222222;
    line-height: 24px;
  }

  .BeforeAfter {
    line-height: 24px;
  }

  .BeforeAfter__before {
    font-size: 16px;
  }

  .BeforeAfter__arrow {
    width: 11px;
    height: 10px;
    margin: 0 5px;
  }

  .BeforeAfter__after {
    @include font-style('font-1', 'b', 16px);
    color: #8F00FF;
  }
}