.LendStakeAPRDetailInfoModal {

  .LabelAndValue {
    margin-bottom: 12px;
  }

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 16px);
    color: #333333;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 17px);
    color: #333333;
  }

  hr {
    margin: 17px 0;
    border-top: 0;
    border-bottom: 1px solid #E6E7F2;
  }
}

.LendStakeAPRDetailInfoModal__apr {
  .LabelAndValue__value {
    @include font-style('font-1', 'b', 17px);
    color: #333333;
  }
}

.LendStakeAPRDetailInfoModal__apy {
  
  .LabelAndValue__label {
    @include font-style('font-1', 'b', 16px);
    color: #265FFC;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'sb', 17px);
    color: #265FFC;
  }
}

.LendStakeAPRDetailInfoModal__depositButton {
  flex: 1;
  margin-top: 24px;
  @include button-1(42px);
  @include font-style('font-1', 'sb', 14px);
  width: 100%;

  &--disabled {
    @include disabled-button;
  }
}