.AddPosition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: scroll;
  z-index: 9;
  padding: 0 0 30px 0;
  
  @include desktop {
    position: static;
    width: auto;
    background-color: unset;
    padding: 0;
  }

  .WKLAYSwitcher__available {
    margin-top: 0;
  }
}

.AddPosition__content {
  @include desktop {
    display: flex;
    align-items: flex-start;
  }
}

.AddPosition__left {
  padding: 0 20px;
  padding-top: 138px; // for floating header
  @include desktop {
    flex: 1;
    padding: 0;
    margin-right: 60px;
    padding-top: 0;
  }
}

.AddPosition__right {
  padding: 0 20px;
  @include desktop {
    flex: 1;
    padding: 0;
  }
}

.AddPosition__apy {
  margin-top: 8px;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 26px;
  border-bottom: 1px solid #e6eaf2;
  
  @include desktop {
    margin-top: 0;
  }

  .QuestionMark {
    font-size: 14px;
  }

  .LabelAndValue__label {
    @include font-style('font-1', 'b', 17px);
    color: #333333;
    line-height: 24px;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'b', 20px);
    color: #265FFC;
    display: flex;
    align-items: center;
    line-height: 24px;
  }
}

.AddPosition__borrowingAssetList {
  margin-top: 16px;
}

.AddPosition__hr {
  width: 100%;
  height: 10px;
  background-color: #F0F2F7;
  border: 0;
  margin: 30px 0;

  &--mobile {
    @include desktop {
      display: none;
    }
  }
}

.AddPosition__equity {
  margin-bottom: 15px;
  
  .LabelAndValue__label {
    @include font-style('font-1', 'b', 15px);
    color: #222222;

    p:last-of-type {
      @include font-style('font-1', 'm', 14px);
      margin-top: 3px;
      color: #969BAB;
    }
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 16px);
    text-align: right;
    color: #222222;
    line-height: 20px;
  }
}

.AddPosition__debt {
  margin-bottom: 20px;
  .LabelAndValue__label {
    @include font-style('font-1', 'b', 15px);
    color: #222222;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 16px);
    color: #222222;
    line-height: 20px;
    text-align: right;
  }
}

.AddPosition__totalDeposit {
  border-top: 1px solid #EBEEF5;
  padding-top: 20px;
  margin-bottom: 26px;
  align-items: center;
  .LabelAndValue__label {
    @include font-style('font-1', 'b', 15px);
    color: #222222;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'b', 16px);
    color: #222222;
    line-height: 20px;
    text-align: right;
  }
}

.AddPosition__footer {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  @include desktop {
    margin-top: 40px;
    padding-top: 30px;
    justify-content: center;
    border-top: 1px solid #DADDE5;
  }
}

.AddPosition__button {
  @include button-1(50px);
  @include font-style('font-1', 'b', 16px);
  background-color: #2D65FC;
  width: 100%;
  margin-bottom: 10px;

  @include desktop {
    width: 130px;
    margin-right: 8px;
    margin-bottom: 0;
  }
}

.AddPosition__needApprove {
  @include font-style('font-1', 'm', 15px);
  color: #777D8F;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: center;
}

.AddPosition__minDebtSize {
  @include font-style('font-1', 'b', 14px);
  color: #F73D3D;
  margin-bottom: 20px;
  text-align: center;

  @include desktop {
    @include font-style('font-1', 'm', 15px);
    margin-top: -8px;
  }
}

.AddPosition__wklayConvertLabel {
  @include font-style('font-1', 'm', 15px);
  color: #3B70F7;
  margin-bottom: 6px;
  line-height: 21px;

  br {
    display: none;
  }
}

.AddPosition__cancelButton {

  display: none;

  @include desktop {
    @include button-1(50px);
    font-size: 16px;
    background-color: #EDF2FC;
    color: #265FFC;
  }
}

.AddPosition__buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    button {
      width: 130px;
      margin-right: 8px;
    }
  }
}

.AddPosition__floatingHeader {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 112px;
  padding: 0 20px;
  background-color: white;

  @include desktop {
    position: static;
    transform: unset;
    height: auto;
    width: auto;
    padding: unset;
  }
}