.AddPositionHeader {
  display: flex;
  align-items: center;
  height: 60px;

  @include desktop {
    align-items: unset;
    height: 60px;
  }
}

.AddPositionHeader__title {
  @include font-style('font-1', 'b', 20px);
  color: #222;
  text-align: center;
  position: relative;
  width: 100%;
  line-height: 24px;

  @include desktop {
    font-size: 24px;
    padding-bottom: 22px;
    text-align: left;
  }
}

.AddPositionHeader__close {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}