.ClosePosition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0 0 30px 0;
  overflow: scroll;
  z-index: 9;
  
  @include desktop {
    position: static;
    width: auto;
    background-color: unset;
    padding: 0;
  }

  .ThickHR {
    @include desktop {
      display: none;
    }
  }

  .LeverageInput {
    margin-bottom: 20px;
  }

  .RadioSet2__label {
    @include font-style('font-1', 'b', 17px);
    color: #333333;
  }
}

.ClosePosition__content {
  @include desktop {
    display: flex;
    align-items: flex-start;
  }
}

.ClosePosition__buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    button {
      width: 130px;
      margin-right: 8px;
    }
  }
}

.ClosePosition__cancelButton {

  display: none;

  @include desktop {
    @include button-1(50px);
    background-color: #EDF2FC;
    color: #265FFC;
  }
}

.ClosePosition__left {
  padding: 0 20px;

  @include desktop {
    flex: 1;
    margin-right: 60px;
    padding-left: 0;
    padding: 0;
  }
}

.ClosePosition__right {
  padding: 0 20px;

  @include desktop {
    flex: 1;
    padding: 0;
    padding-right: 0;
  }

}

.ClosePosition__apy {
  margin-top: 8px;
  align-items: center;
  // padding-bottom: 20px;
  margin-bottom: 34px;
  
  @include desktop {
    // border-bottom: 1px solid #E6EAF2;
  }

  .QuestionMark {
    font-size: 14px;
  }

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    color: #222222;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 16px);
    color: #222222;
    line-height: 20px;
    text-align: right;
  }

  .BeforeAfter__before {
    @include font-style('font-1', 'r', 16px);
    color: #969BAB;
  }

  .BeforeAfter__after {
    @include font-style('font-1', 'b', 16px);
    display: flex;
    line-height: 20px;
    align-items: center;
    color: #265FFC;
  }
}

.ClosePosition__borrowingAssetList {
  margin-top: 16px;
}

.ClosePosition__borrowingAsset {
  margin-bottom: 11px;
  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    color: #636879;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'b', 16px);
    color: #333333;
  }
}

.ClosePosition__debtRatio {
  border-top: 1px solid #EBEEF5;
  padding-top: 20px;

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    color: #222222;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 16px);
    color: #222222;
    line-height: 20px;
    text-align: right;
  }

  .BeforeAfter__before {
    @include font-style('font-1', 'r', 16px);
    color: #969BAB;
  }

  .BeforeAfter__after {
    @include font-style('font-1', 'b', 16px);
    color: #333333;
  }
}

.ClosePosition__hr {
  width: 100%;
  height: 10px;
  background-color: #F0F2F7;
  border: 0;
  margin: 30px 0;

  &--mobile {
    @include desktop {
      display: none;
    }
  }
}

.ClosePosition__totalReceived {
  align-items: center;
  margin-bottom: 26px;
  
  .LabelAndValue__label {
    @include font-style('font-1', 'b', 15px);
    color: #222222;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'b', 17px);
    text-align: right;
    color: #333333;
    line-height: 20px;
  }
}

.ClosePosition__debt {
  margin-bottom: 20px;
  .LabelAndValue__label {
    @include font-style('font-1', 'b', 15px);
    color: #222222;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 16px);
    color: #222222;
    line-height: 20px;
    text-align: right;
  }
}

.ClosePosition__totalDeposit {
  padding-top: 20px;
  margin-bottom: 15px;
  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    color: #222222;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 16px);
    color: #222222;
    line-height: 20px;
    text-align: right;
  }
}

.ClosePosition__footer {
  padding: 0 20px;
  @include desktop {
    margin-top: 40px;
    padding-top: 30px;

    border-top: 1px solid rgba(#DADDE6, .8);
  }
}

.ClosePosition__button {
  @include button-1(50px);
  @include font-style('font-1', 'b', 16px);
  background-color: #2D65FC;
  width: 100%;
  margin-bottom: 10px;

  @include desktop {
    margin-bottom: 0;
  }
}

.ClosePosition__needApprove {
  @include font-style('font-1', 'm', 15px);
  color: #777D8F;
  margin-bottom: 20px;
  line-height: 22px;
}

.ClosePosition__minDebtSize {
  @include font-style('font-1', 'b', 14px);
  color: #F73D3D;
  margin-bottom: 20px;
  text-align: center;
}

// 

.ClosePosition__entireCloseHeader {

   align-items: center;

  .LabelAndValue {
    margin-bottom: 15px;
  }

  .LabelAndValue__label {
    @include font-style('font-1', 'b', 15px);
    color: #333333;
  }
  
  .LabelAndValue__value {

    @include font-style('font-1', 'm', 16px);
    color: #333333;
    line-height: 20px;
    text-align: right;

    p {
      @include font-style('font-1', 'm', 16px);
      color: #333333;
      line-height: 20px;
      text-align: right;
    }
  }
}

.ClosePosition__tabs {
  margin: 10px 0 30px 0;
}

.ClosePosition__radioSet {
  margin-top: 34px;
  padding-bottom: 26px;
  border-bottom: 1px solid #EBEEF5;
  margin-bottom: 24px;

  @include desktop {
    margin-top: 6px;
  }

  &--mobileOnly {
    display: flex;
    @include desktop {
      display: none;
    }
  }

  &--desktopOnly {
    display: none;
    @include desktop {
      display: flex;
    }
  }
}

.ClosePosition__summary {

}

.ClosePositionPopup__warn {
  @include not-draggable;
}

.ClosePosition__tokenSwap {
  margin-bottom: 16px;
  .LabelAndValue__label {
    @include font-style('font-1', 'b', 15px);
    color: #333333;
  }
  
  .LabelAndValue__value {

    @include font-style('font-1', 'm', 16px);
    color: #333333;
    text-align: right;
  }
}

.ClosePosition__remainInfoTitle {
  @include font-style('font-1', 'b', 16px);
  color: #222222;
}

.ClosePosition__equity {
  margin-bottom: 15px;
  
  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    color: #222222;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 16px);
    color: #222222;
    line-height: 20px;
    text-align: right;
  }
}

.ClosePosition__debt {
  margin-bottom: 20px;
  
  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    color: #222222;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 16px);
    color: #222222;
    line-height: 20px;
    text-align: right;
  }
}

.ClosePosition__footer {
  margin-top: 25px;
  padding-top: 30px;
  border-top: 1px solid #DADDE5;
}