.Farming {
  padding-bottom: 100px;
  padding: 0 20px;

  &--contentView {
    .Farming__intro {
      display: none;
    }
  }

  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }
}

.Farming__introTitle {
  @include font-style('font-1', 'b', 24px);
  color: #222222;
  margin-bottom: 8px;
}

.Farming__introDescription {
  @include font-style('font-1', 'm', 15px);
  color: #616674;
  margin-bottom: 12px;
}

.Farming__introMisc {
  @include font-style('font-1', 'b', 16px);
  color: #3C6BFA;

  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    background-image: url(/static/images/exported/play-blue.svg);
    width: 17px;
    height: 17px;
    background-size: 100%;
    margin-right: 4px;
  }
}


.Farming__list {
  margin-top: 32px;

  @include desktop {
    margin-top: 36px;
  }
}