.FarmItemCard {
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  position: relative;
  // flex: 1;
  // max-width: 328px;
  
  @include desktop {
    width: 32%;
  }
}

.FarmItemCard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 20px 0;

  &:first-of-type {
    padding-top: 0;
  }
}

.FarmItemCard__headerLeft {
  display: flex;
  align-items: center;
}

.FarmItemCard__content {
  padding: 24px;

  @include desktop {
    min-height: 160px;
  }
}

.FarmItemCard__footer {
  display: flex;
  align-items: center;
  padding: 0 24px;
  padding-bottom: 24px;

  padding-right: 0;

  padding-left: 44px;
}

.FarmItemCard__tokenImages {
  display: flex;
  flex-direction: column;
}

.FarmItemCard__tokenIcon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  // background-color: #f5f5f5;
  background-color: #ffffff;
  box-shadow: -2px 0 3px 0 rgba(0, 0, 0, 0.06);

  &--baseToken {
    position: relative;
    top: -5px;
  }
}

.FarmItemCard__mainInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 12px;
}

.FarmItemCard__title {
  @include font-style('font-1', 'b', 17px);
  color: #222222;
  margin-bottom: 11px;
}

.FarmItemCard__tvl {
  @include font-style('font-1', 'm', 15px);
  color: #777D8F;
  margin-top: 11px;
}

.FarmItemCard__subInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  height: 48px;
}

.FarmItemCard__apy {
  @include font-style('font-1', 'b', 17px);
  color: #265FFC;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.FarmItemCard__exchange {
  @include font-style('font-1', 'r', 14px);
  color: #969BAB;
}

.FarmItemCard__button {
  @include desktop {
    margin-bottom: 0;
  }

  margin-left: 7px;

  width: 100px;
  @include button-1(42px);

  &--disabled {
    @include disabled-button;
  }
}

// FarmProperty

.FarmProperty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
  color: #494a4d;

  &--flexStart {
    align-items: flex-start;
  }
}

.FarmProperty__label {
  @include font-style('font-1', 'm', 13px);
}

.FarmProperty__value {
  @include font-style('font-1', 'm', 13px);
}

.FarmProperty__labelSub {
  @include font-style('font-1', 'm', 10px);
  position: relative;
  top: -2px;
}

.FarmItemCard__totalAPR {
  color: #3369ff;
}

.FarmItemCard__opener {
  border-radius: 8px;
  background-color: #fcfcfc;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
}

.FarmItemCard__leverageController {
  flex: auto;
  margin-bottom: 0;

  .LeverageController__content {
    width: 100%;
  }
}