.FarmItemCard {
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  position: relative;
  // flex: 1;
  // max-width: 328px;
  
  @include desktop {
    width: 32%;
  }

  &:last-of-type {
    .FarmItemCard__footer {
      border-bottom: 0;
    }
  }
}

.FarmItemCard__header {
  display: flex;
  justify-content: space-between;
  
  padding: 20px 0;
  padding-bottom: 14px;

  &:first-of-type {
    padding-top: 0;
  }
}

.FarmItemCard__headerLeft {
  display: flex;
}

.FarmItemCard__content {
  padding: 24px;

  @include desktop {
    min-height: 160px;
  }
}

.FarmItemCard__footer {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  margin-left: 44px;
  border-bottom: 1px solid #F0F2F7;
}

.FarmItemCard__tokenImages {
  display: flex;
  flex-direction: column;

  padding-top: 1px;
  height: 56px;
  margin-left: -1px;
  margin-top: -5px;
  z-index: 0;
}

.FarmItemCard__tokenIcon {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  z-index: 0;

  // &--baseToken {
  //   position: relative;
  //   top: -7px;
  // }

  &:nth-of-type(2) {
    position: relative;
    top: -8px;
    z-index: 9;
  }

  &:nth-of-type(3) {
    position: relative;
    top: -16px;
    z-index: 10;
  }

  &:nth-of-type(4) {
    position: relative;
    top: -24px;
    z-index: 11;
  }
}

.FarmItemCard__mainInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 14px;
}

.FarmItemCard__title {
  @include font-style('font-1', 'b', 17px);
  color: #222222;
  margin-bottom: 9px;
  line-height: 19px;
}

.FarmItemCard__tvl {
  @include font-style('font-1', 'm', 15px);
  color: #777D8F;

  margin-top: 9px;
  line-height: 17px;
}

.FarmItemCard__subInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  // height: 45px;
}

.FarmItemCard__apy {
  @include font-style('font-1', 'b', 17px);
  color: #265FFC;
  line-height: 19px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.FarmItemCard__exchange {
  @include font-style('font-1', 'r', 14px);
  color: #969BAB;
  line-height: 17px;
}

.FarmItemCard__button {
  @include desktop {
    margin-bottom: 0;
  }

  margin-left: 7px;

  width: 100px;
  @include button-1(42px);
  @include font-style('font-1', 'b', 15px);
  line-height: 18px;

  &--disabled {
    @include disabled-button;
  }
}

// FarmProperty

.FarmProperty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
  color: #494a4d;

  &--flexStart {
    align-items: flex-start;
  }
}

.FarmProperty__label {
  @include font-style('font-1', 'm', 13px);
}

.FarmProperty__value {
  @include font-style('font-1', 'm', 13px);
}

.FarmProperty__labelSub {
  @include font-style('font-1', 'm', 10px);
  position: relative;
  top: -2px;
}

.FarmItemCard__totalAPR {
  color: #265ffc;
}

.FarmItemCard__opener {
  border-radius: 8px;
  background-color: #fcfcfc;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
}

.FarmItemCard__leverageController {
  flex: auto;
  margin-bottom: 0;

  .LeverageController__content {
    width: 100%;
    height: 42px;
  }
}

.FarmItemCard__boostedAPR {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.FarmItemCard__boostedAPRTitle {
  @include font-style('font-1', 'm', 15px);
  color: #9E3EFF;
  margin-right: 4px;
  line-height: 17px;
}

.FarmItemCard__boostedAPRValue {
  @include font-style('font-1', 'b', 15px);
  line-height: 17px;
  font-weight: 700;
  color: #AAB4D1;
  
  &--boosted {
    background: linear-gradient(93.56deg, #8319FF 1.72%, #DB00FF 96.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.FarmItemCard__Boosted {
  margin-top: 9px;
  margin-bottom: 6px;
}