.Farming {
  padding-bottom: 100px;
  padding: 0 20px;

  &--contentView {
    .Farming__intro {
      display: none;
    }
  }

  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
    padding: 0;
  }
}

.Farming__introTitle {
  @include font-style('font-1', 'b', 24px);
  color: #222222;
  margin-bottom: 8px;
}

.Farming__introDescription {
  @include font-style('font-1', 'm', 15px);
  color: #616674;
  margin-bottom: 12px;
  line-height: 22px;
}

.Farming__introMisc {
  @include font-style('font-1', 'sb', 16px);
  cursor: pointer;
  color: #3C6BFA;

  display: flex;
  align-items: center;
  line-height: 19px;
  margin-bottom: 32px;

  @include desktop {
    @include font-style('font-1', 'sb', 16px);
  }

  &::before {
    content: "";
    display: inline-block;
    background-image: url(/static/images/exported/play-blue.svg);
    background-size: 100%;

    width: 19px;
    height: 19px;
    margin-right: 5px;
  }
}


.Farming__list {
  margin-top: 32px;

  @include desktop {
    margin-top: 0;
  }
}