.IntroPage {
  height: 100vh;

  .TabNavigation {
    display: none;
  }
  
  .TabNavigation {
    display: none;
  }

  .NotificationBanner {
    display: none;
  }

  @include desktop {
   .TabNavigation {
      display: flex;
    }

    .NotificationBanner {
      display: flex;
    } 
  }

  .ThickHR {
    margin: 0;
    height: 10px !important;
  }

  .Footer {
    display: flex;
    position: static;
  }
}

.IntroPage__tabContent {

  width: 100%;
  overflow: hidden;
  // margin: 0 auto;
  min-height: calc(100% - 127px);
  padding-bottom: 122px;
  padding-top: 40px;
  // padding-bottom: 100px;

  @include desktop {
    // width: $CONTENT_WIDTH;
    padding: 0;
    padding-top: 0;
    padding-bottom: 100px;
  }
}