.LendPage {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

.LendPage__brief {
  display: none;
  
  @include desktop {
    display: flex;
    flex-direction: column;
  }
  background-image: linear-gradient(to right, #2855cf, #244bb8);
  height: 159px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.LendPage__briefFooter {
  @include font-style('font-1', 'r', 13px);
  color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: flex-end;
}

.LendPage__developedBy {
  margin-right: 16px;
  position: relative;
  top: 1px;
}

.LendPage__developedTeamIcon {
  height: 20px;

  &:last-of-type {
    margin-right: 16px;
  }
}

.LendPage__circle {
  width: 5px;
  height: 5px;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}