.MainPage {
  height: 100vh;
}

.MainPage__tabContent {

  width: 100%;
  // margin: 0 auto;
  padding-top: 32px;

  min-height: 60vh;
  overflow: hidden;
  
  @include desktop {
    // width: $CONTENT_WIDTH;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 140px;
    min-height: unset;
  }
}