.MainPage {
  height: 100vh;
}

.MainPage__tabContent {

  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 32px;

  @include desktop {
    width: $CONTENT_WIDTH;
    padding: 0;
    padding-top: 32px;
  }
}