.MainPage {
  height: 100vh;
}

.MainPage__tabContent {

  width: 100%;
  // margin: 0 auto;
  padding-top: 32px;

  min-height: 60vh;
  overflow: hidden;
  
  @include desktop {
    // width: $CONTENT_WIDTH;
    padding: 0;
    // min-height: unset;
    min-height: calc(100% - 127px);
    padding-bottom: 122px;
    padding-top: 32px;
    // padding-bottom: 40px;
  }

  &--lendnstake {

    @include desktop {
      padding-top: 34px;
    }
  }

  &--farming {
    @include desktop {
      padding-top: 34px;
    }
  }

  &--myasset {
    @include desktop {
      padding-top: 30px;
    }

    &--contentless {
      @include desktop {
        padding-top: 40px;
      }
    }
  }

  &--withus {
    @include desktop {
      padding-top: 18px;
    }
  }

  &--AddPosition {
    @include desktop {
      padding-top: 34px;
    }
  }

  &--AdjustPosition {
    @include desktop {
      padding-top: 34px;
    }
  }

  &--ClosePosition {
    @include desktop {
      padding-top: 34px;
    }
  }
}