.MainPage {
  height: 100vh;
}

.MainPage__tabContent {

  width: 100%;
  // margin: 0 auto;
  padding-top: 32px;

  min-height: 60vh;
  overflow: hidden;
  
  @include desktop {
    // width: $CONTENT_WIDTH;
    padding: 0;
    // min-height: unset;
    min-height: calc(100% - 127px);
    padding-bottom: 122px;
    padding-top: 40px;
    // padding-bottom: 40px;
  }

  &--lendnstake {

    @include desktop {
      // padding: 0;
      padding-top: 34px;
      // padding-bottom: 60px;
    }
  }
}