.AddPositionPopup__modal {
  @include desktop {
    // width: 884px !important;
    width: auto !important;
  }

  &--dim {
    opacity: .3;
  }
}

.AddPositionPopup {
  
}

.AddPositionPopup__content {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 36px;
  margin-bottom: 54px;
}

.AddPositionPopup__controller {
  flex: 1;
}

.AddPositionPopup__summary {
  flex: 1;
}

.AddPositionPopup__farmButton {
  @include button-1(54px);
  width: 100%;

  &--disabled {
    @include disabled-button;
  }
}

.AddPositionPopup__summaryCheckbox {
  margin-bottom: 20px;
  justify-content: flex-end;
  margin-right: 0;
}

.AddPositionPopup__minDebtSize {
  @include font-style('font-1', 'sb', 13px);
  color: #f25a49;
  margin-bottom: 4px;
  text-align: right;
}

.AddPositionPopup__aware {
  margin-top: 24px;
  color: #f25a49;
  display: flex;
  align-items: flex-start;

}

.AddPositionPopup__awareMessage {
  @include font-style('font-1', 'm', 13px);
}

.AddPositionPopup__awareIcon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}