.AdjustPositionPopup__modal {
  @include desktop {
    // width: 884px !important;
    width: auto !important;
  }
}

.AdjustPositionPopup {
  
}

.AdjustPositionPopup__content {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 36px;
  margin-bottom: 54px;
}

.AdjustPositionPopup__controller {
  flex: 1;
}

.AdjustPositionPopup__summary {
  flex: 1;
}

.AdjustPositionPopup__farmButton {
  @include button-1(54px);
  width: 100%;

  &--disabled {
    @include disabled-button;
  }
}

.AdjustPositionPopup__summaryCheckbox {
  margin-bottom: 20px;
  justify-content: flex-end;
  margin-right: 0;
}

.AdjustPositionPopup__minDebtSize {
  @include font-style('font-1', 'sb', 13px);
  color: #f25a49;
  margin-bottom: 4px;
  text-align: right;
}