.AdjustPositionPopupSummary {
  background-color: white;
  width: auto;
  box-shadow: unset;
  padding: 0;

  .DetailedHideable__hideButton {
    display: none;
  }

  @include desktop {
    position: absolute;
    width: 360px;
    bottom: 0;
    padding: 20px 20px 32px;
    box-shadow: 0 2px 10px 0 rgba(24, 24, 24, 0.05);
    right: -372px;

    &--borrowMore {
      bottom: -102px;
    }

    .DetailedHideable__hideButton {
      display: block;
    }
  }
}
.AdjustPositionPopupSummary__hr {
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 24px 0;
}