.AssetInfo {
  display: flex;
  align-items: center;
}

.AssetInfo__icon {
  width: 31px;
  height: 31px;

  border-radius: 50%;
  margin-right: 14px;
  margin-left: -1px;
}

.AssetInfo__info {
  display: flex;
  flex-direction: column;
}

.AssetInfo__title {
  @include font-style('font-1', 'b', 18px);
  color: #131414;
  line-height: 19px;

  @include desktop {
    @include font-style('font-1', 'b', 17px);
    // margin-bottom: 4px;
  }

}

.AssetInfo__priceInfo {
  @include font-style('font-1', 'm', 11px);
  color: #797b80;
  border-radius: 8px;
  // background-color: #f5f5f5;
  background-color: #ffffff;
  padding: 1px 8px;
}