.BorrowingAssetSelector {

  .Opener {
    @include not-draggable;
    background-image: unset;
    margin-bottom: 0;
    width: 140px;
  }

  .Opener__item {
    // background-color: rgba(#f5f5f5, .5);
    height: 24px;
    justify-content: flex-end;

    &:hover {
      .Opener__itemRight {
        color: #3369ff;
      }
    }

    &--selected, &--selectedAndOpen {
      background-color: #f5f5f5 !important;
      background-image: url(/static/images/Opener.svg);
      background-repeat: no-repeat;
      background-size: 16px 16px;
      background-position: top 50% left 4px;
      padding-left: 22px;
      padding-right: 8px;
      position: relative;
      right: -9px;
    }
  }

  .Opener__itemTitle {
    @include font-style('font-1', 'm', 13px);
    color: #494a4d !important;
  }

  .Opener__itemIcon {
    height: 16px;
  }

  .Opener__searchContainer {
    display: none;
  }

  .Opener__list {
    min-width: 140px;
    top: 120%;
    left: unset;
    transform: unset;
    right: -12px;

    .Opener__item {
      height: 28px;
      margin: 0 6px;
    }
  }

  .Opener__itemRight {
    @include font-style('font-1', 'm', 13px);
    position: static;
    transform: unset;
    color: #494a4d;
  }
}
