.ClosePositionPopup {
  
}

.ClosePositionPopup__closePositionButton {
  @include button-2(54px);
  background-color: #ffeae8;
  color: #f25a49;
  width: 100%;
  margin-top: 24px;

  &--disabled {
    @include disabled-button;
  }
}

.ClosePositionPopup__methodSelectTitle {
  @include font-style('font-1', 'm', 18px);
  color: #131414;
  margin-bottom: 24px;
}

.ClosePositionPopup__radioSet {
  margin-bottom: 36px;
}

.ClosePositionPopup__checkbox {
  margin-right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* margin-right: 12px; */
  justify-content: flex-end;
  margin-top: 36px;
}

.ClosePositionPopup__warn {
  @include font-style('font-1', 'r', 11px);
  color: red;
  margin-top: 6px;
}