.CommonGauge {
  margin-bottom: 56px;
}

.CommonGauge__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.CommonGauge__title {
  @include font-style('font-1', 'sb', 16px);
  display: block;
  color: #687395;
  margin-bottom: 15px;

  @include not-draggable;
}

.CommonGauge__description {

  @include not-draggable;

  p {
    margin-bottom: 4px;
  }

  span {
    @include font-style('font-1', 'm', 15px);
    color: #969BAB;
  }

  strong {
    @include font-style('font-1', 'b', 20px);
    color: #222222;
    margin-right: 4px;
  }
}

.CommonGauge__inputWrapper {
  @include not-draggable;
  display: flex;
  width: 90px;
  padding: 12px 18px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 0;
  background: #F5F7FA;
  height: 40px;
}

.CommonGauge__leverageInput {
  @include font-style('font-1', 'b', 16px);
  color: #265FFC;
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%
}

.CommonGauge__x {
  @include font-style('font-1', 'sb', 16px);
  color: #265FFC;
}

// Gauge Bar
.GaugeBar {
  position: relative;
  width: 90%;
  height: 30px;

  cursor: pointer;
}

.GaugeBar__bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: #3A6EFC;
  height: 4px;
  z-index: 9;
  max-width: 100%;
}
.GaugeBar__barBehind {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-radius: 2px;
  background-color: #f2f2f2;
  height: 4px; 
  cursor: pointer;
}

.GaugeBar__barItem {
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: solid 3px #f2f2f2;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &--active {

    border: solid 3px #3A6EFC;

    .GaugeBar__barItemLabel {
      @include font-style('font-1', 'sb', 13px);
      color: #494a4d;
    }
  }
}

.GaugeBar__barItemLabel {
  @include not-draggable;
  @include font-style('font-1', 'm', 13px);
  color: rgba(73, 74, 77, 0.5);
  cursor: pointer;
  margin-top: 12px;
}

.GaugeBar__barHead {
  position: absolute;
  width: 25px;
  height: 25px;
  border: solid 2px #3A6EFC;
  background-color: #ffffff;
  border-radius: 50%;

  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
}


.ClosePositionPopup__warn {
  margin-bottom: 10px;
}