.ConnectWallet {
  @include font-style('font-1', 'b', 15px);
  @include button-1(32px);
  padding: 6px 14px;

  color: #ffffff;
  background-color: #2D65FC;
  border-radius: 4px;

  &--connected {
    cursor: default;
    // color: #265ffc;
    // background-color: #ebf0ff;
    color: #333333;
    background-color: transparent;
  }
}

.ConnectWallet__logout {
  @include font-style('font-1', 'm', 15px);
  color: #919FC8;
  margin-left: 4px;
  cursor: pointer;
}

.ConnectWallet__disconnect {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.ConnectWalletPopup__walletCategory {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 16px;
  justify-content: center;
  cursor: pointer;
  @include font-style('font-1', 'm', 14px);

  &:last-of-type {
    margin-bottom: 0;
  }

  &--kaikas {
    color: #ffffff;
    background-color: #665a49;
  }
  
  &--metamask {
    color: #ffffff;
    background-color: #24292E;
  }

  &--klip {
    color: #171b1d;
    background-color: #fed400;
  }
}

.ConnectWalletPopup__walletCategoryIcon {
  margin-right: 8px;
  width: 24px;
}

.ConnectWalletPopup__header {
  @include font-style('font-1', 'b', 20px);
  color: $white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}