.ConnectWalletPopup {
  .Modal__content {
    max-height: unset;
  }  
}

.ConnectWalletPopup__connectedInfo {
  
}

.ConnectWalletPopup__connectedAs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 12px;
  height: 32px;
  border-radius: 8px;
  background-color: #fcfcfc;
  margin-bottom: 12px;
  align-items: center;

  @include font-style('font-1', 'm', 13px);
  color: #797b80;

  span {
    @include font-style('font-1', 'sb', 13px);
    color: #797b80;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ConnectWalletPopup__disconnectButton {
  @include button-2(32px);
  @include font-style('font-1', 'sb', 13px);
  width: 100%;
  background-color: #ffeae8;
  color: #f25a49;
}

.ConnectWalletPopup__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.WalletConnectOption {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 56px;
  border-radius: 6px;
  border: 1px solid #D7DCEA;
  box-shadow: 0px 4px 4px -2px rgba(0, 21, 83, 0.06);
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 12px;

  &--dcent {
    @include desktop {
      display: none;
    }
  }

  &--kaikas {
    display: none;
    @include desktop {
      display: flex;
    }
  }
  
  &--klip {
    // @include desktop {
    //   display: none;
    // }
  }
  
  &--metamask {

  }
}

.WalletConnectOption__title {
  @include font-style('font-1', 'm', 16px);
  color: #4C505C;
}

.WalletConnectOption__image {
  margin-right: 8px;
}

.ConnectWalletPopup__noWalletGuide {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ConnectWalletPopup__noWalletTitle {
  @include font-style('font-1', 'b', 18px);
  color: #222222;
  margin-bottom: 8px;
}

.ConnectWalletPopup__noWalletDescription {
  @include font-style('font-1', 'm', 15px);
  color: #777D8F;
  margin-bottom: 20px;
}

.ConnectWalletPopup__makeWallet {
  @include font-style('font-1', 'sb', 16px);
  color: #265FFC;
  cursor: pointer;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--kaikas {
    display: none;
    @include desktop {
      display: flex;
    }
  }

  &--dcent {
    display: flex;
    @include desktop {
      display: none;
    }
  }
}