.CoverLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  cursor: pointer;

  &--inner {
    z-index: 9998;
  }
}

.CoverLayer__wrapper {
  &--hide {
    display: none;
  }
}
