.CoverLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  cursor: pointer;

  &--inner {
    z-index: 9998;
  }

  animation: background-appear-transition 200ms;
  animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  animation-fill-mode: forwards;

  @include desktop {
    animation: unset !important;
  }
}

.CoverLayer__wrapper {

  &--animation-disappear {
    .CoverLayer {
      animation: background-disappear-transition 150ms;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
    }
  }
  
  &--animation-appear {
    .CoverLayer {
      animation: background-appear-transition 150ms;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
    }
  }

  &--hide {
    display: none;
  }

  &--layered {
    .Modal {
      z-index: 9;

      &:last-of-type {
        z-index: 9999;
      }
    }
  }
}

// animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1);

@keyframes background-appear-transition {
  0% {
    // opacity: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    // opacity: .4;
    background-color: rgba(0, 0, 0, .4);
  }
}

@keyframes background-disappear-transition {
  0% {
    // opacity: .4;
    background-color: rgba(0, 0, 0, .4);
    // height: initial;
  }

  100% {
    // opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    // height: 0;
  }
}