.DepositModal__balance {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.DepositModal__available {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  
  @include desktop {
    display: block;
  }
}

.DepositModal__availableLabel {
  @include font-style('font-1', 'm', 13px);
  color: #494a4d;
}

.DepositModal__availableAmount {
  @include font-style('font-1', 'sb', 13px);
  color: #494a4d
}

.DepositModal__depositInput {
  margin-bottom: 28px;
}

.DepositModal__youWillReceive {
  @include font-style('font-1', 'm', 13px);
  color: #797b80;
  margin-bottom: 8px;
}

.DepositModal__bottom {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  
  @include desktop {
    flex-direction: row;
  }
}

.DepositModal__receive {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fcfcfc;

  padding: 12px 16px;
  margin-bottom: 42px;
  height: 44px;

  @include desktop {
    width: calc(100% - 196px);
    padding: 16px;
    margin-bottom: 0;
    height: 54px;
  }
}

.DepositModal__receiveAmount {
  @include font-style('font-1', 'sb', 16px);
  color: #3369ff;
  white-space: pre-wrap;
  word-break: break-all;
}

.DepositModal__receiveToken {
  @include font-style('font-1', 'sb', 16px);
  color: #494a4d;
}

.DepositModal__confirmButton {
  width: 100%;
  
  @include button-1(54px);
  @include font-style('font-1', 'sb', 18px);
  
  @include desktop {
    width: 180px;
  }
}