.DetailedHideable {
  padding: 20px 20px 32px;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(24, 24, 24, 0.05);
  background-color: #fff;

  width: 360px;
}

.DetailedHideable__header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
  width: 100%;
}

.DetailedHideable__title {
  @include font-style('font-1', 'm', 18px);
  color: #131414;
}

.DetailedHideable__hideButton {
  @include button-1(28px);
  width: 72px;
  background-color: #ebf0ff;
  color: #3369ff;
}