.FarmSummaryItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 8px;

  &--yieldFarming {
    .BeforeAfter__after { color: #494a4d; }
  }

  &--klevaRewardsAPR {
    .FarmSummaryItem__right {
      color: #00b470;
    }
  }
  
  &--borrowingInterestAPR {
  .FarmSummaryItem__right {
      color: #f25a49;
    }
  }

  &--totalAPR {
    .BeforeAfter__after { color: #3369ff; }
  }

  &--totalAPY {
    .BeforeAfter__after { color: #3369ff; }
  }
}

.FarmSummaryItem__left {
  @include font-style('font-1', 'm', 13px);
  color: #494a4d;
}

.FarmSummaryItem__leftSub {
  @include font-style('font-1', 'm', 11px);
  color: rgba(73, 74, 77, 0.5);
}

.FarmSummaryItem__right {
  @include font-style('font-1', 'sb', 13px);
  text-align: right;
}

.FarmSummaryItem__rightSub {
  @include font-style('font-1', 'm', 11px);
  text-align: right;
  color: rgba(73, 74, 77, 0.5);
}

.FarmSummary__line {
  border-top: solid 1px #e6e6e6;
  margin: 20px 0;
}