.Footer {
  width: 100%;

  justify-content: center;
  height: 156px;
  display: flex;
  flex-direction: column;

  background-color: #17191F;
  padding: 0 10px 25px 20px;
  
  .Dropdown__list {
    padding: 10px 0;
  }

  .Dropdown__listItem {
    padding: 0 18px;
  }

  .Dropdown {
    border: 0;
    width: 100px;
    padding: 0 30px 0 0;
    color: #B4B8BF;
    line-height: 20px;
    background-size: 14px;
    flex-direction: row-reverse;

    &--upper {
      .Dropdown__list {
        // bottom: -65px;
        left: -29px;
        width: 120px;
      }
    }
  }

  @include desktop {
    // display: none;
    
    display: flex;
    z-index: 9;
    width: 100vw;
    height: 122px;

    position : relative;
    transform : translateY(-100%);
    // &--show {
      // position: fixed;
    // }
  }
}

.Footer__content {
  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }
}

.Footer__contentHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.Footer__socials {
  display: flex;
  align-items: center;
}

.Footer__icon {
  height: 17px;
  cursor: pointer;
  margin-right: 25px;
}

.Footer__project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  @include desktop {
    align-items: center;
    flex-direction: row;
  }
}

.Footer__projectName {
  margin-right: 10px;
  margin-bottom: 10px;

  @include desktop {
    margin-bottom: 0;
  }
}

.Footer__copyright {
  @include font-style('font-1', 'r', 14px);
  color: #60636B;
}