.Footer {
  width: 100%;

  background-color: #0F1115;
  justify-content: center;
  height: 156px;
  display: flex;
  flex-direction: column;

  padding: 0 20px;
  
  @include desktop {
    display: none;
    
    &--show {
      display: flex;
      position: fixed;
      z-index: 9;
      width: 100vw;
      left: 0;
      bottom: 0;
      height: 122px;
    }
  }

  .Dropdown {
    border: 0;
  }
}

.Footer__content {
  @include desktop {
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }
}

.Footer__contentHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.Footer__socials {
  display: flex;
  align-items: center;
}

.Footer__icon {
  height: 17px;
  cursor: pointer;
  margin-right: 25px;
}

.Footer__project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  @include desktop {
    align-items: center;
    flex-direction: row;
  }
}

.Footer__projectName {
  margin-right: 10px;
  margin-bottom: 10px;

  @include desktop {
    margin-bottom: 0;
  }
}

.Footer__copyright {
  @include font-style('font-1', 'r', 14px);
  color: #60636B;
}