.GTWalletBalance {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 0;
  padding-left: 28px;
  padding-right: 28px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  
  @include desktop {
    box-shadow: 0 2px 10px 0 rgba(24, 24, 24, 0.05);
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 36px;
    flex: 1;
    // height: 120px;
    height: 134px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.GTWalletBalance__left {
  display: flex;
  flex-direction: column;
}

.GTWalletBalance__label {
  @include font-style('font-1', 'm', 15px);
  color: #131414;
  margin-bottom: 2px;
}

.GTWalletBalance__value {
  @include font-style('font-1', 'b', 24px);
  color: #131414;

  @include desktop {
    @include font-style('font-1', 'sb', 30px);
    line-height: 30px;
  }
}

.GTWalletBalance__valueInUSD {
  @include font-style('font-1', 'm', 12px);
  color: #797b80;
}

.GTWalletBalance__right {

}

.GTWalletBalance__image {
  width: 64px;
  height: 64px;
}