.Header2 {
  display: flex;
  width: 100%;
  justify-content: center;

  padding: 0 20px;

  padding-top: 10px;
  height: 68px;

  align-items: center;
}

.Header2__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;

  @include desktop {
    width: $CONTENT_WIDTH;
  }
}

.Header2__left {
  
}

.Header2__right {
  display: flex;
  align-items: center;
}

.Header2__logo {
  cursor: pointer;
}

.Header2__ConnectWallet {
  display: none !important;
  
  @include desktop {
    display: flex !important;
    margin-left: 14px;
  }
}