.HeaderInfoMobile {
  z-index: 9;
  width: 100%;
  margin: 0 20px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #2f61eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeaderInfoMobile__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.HeaderInfoMobile__itemTitle {
  @include font-style('font-1', 'm', 13px);
  color: rgba($white, .7);
}

.HeaderInfoMobile__itemValue {
  @include font-style('font-1', 'm', 15px);
  color: $white;
}
