.KlevaEarned__KlevaEarned {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(24, 24, 24, 0.05);
  background-color: #fff;
  padding: 16px;
  width: 100%;
  align-items: center;
  margin-bottom: 36px;
  
  @include desktop {
    min-width: 532px;
    flex-direction: row;
    height: 72px;
    margin-bottom: 0;
  }

  &--mobileOnly {
    padding: 24px 28px;

    @include desktop {
      display: none;
    }
  }
}

.KlevaEarned__KlevaEarnedInfo {
  display: flex;
  flex-direction: column-reverse;
  
  @include desktop {
    align-items: center;
    flex-direction: row;
  }
}

.KlevaEarned__KlevaEarnedValue {
  @include font-style('font-1', 'b', 24px);
  color: #3369ff;
  margin-bottom: 10px;
  
  @include desktop {
    @include font-style('font-1', 'b', 20px);
    margin-bottom: 0;
  }
}

.KlevaEarned__KlevaEarnedLabel {
  @include font-style('font-1', 'm', 15px);
  color: #131414;

  @include desktop {
    margin-left: 10px;
  }
}

.KlevaEarned__KleaveEarnedEarnButton {
  @include button-2(40px);
  width: 108px;
}