.LabelAndValue {
  @include font-style('font-1', 'm', 13px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #494a4d;
  margin-bottom: 2px;
}

.LabelAndValue__label {
  line-height: 20px;
}

.LabelAndValue__value {
  line-height: 20px;
}