.LendingPoolListItemCard {
  background-color: #fff;
  padding: 0;
  padding-bottom: 32px;
  margin-bottom: 12px;
  position: relative;
}

.LendingPoolListItemCard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LendingPoolListItemCard__apy {
  @include font-style('font-1', 'b', 18px);
  display: flex;
  align-items: center;
  color: #265FFC;
}

.LendingPoolListItemCard__contentWrapper {
  
}

.LendingPoolListItemCard__content {
  padding-top: 36px;
}

.LendingPoolListItemCard__lv {
  margin-bottom: 10px;
  
  .LabelAndValue__label {
    @include font-style('font-1', 'sb', 13px);
    color: #797b80;
  }
  
  .LabelAndValue__value {
    @include font-style('font-1', 'm', 16px);
    color: #131414;
  }

  &--apy {
    .LabelAndValue__label {
      color: #3369ff;
    }

    .LabelAndValue__value {
      @include font-style('font-1', 'b', 16px);
      color: #3369ff;
    }
  }

  &--apr {
    // margin-bottom: 16px;
  }

  &--balance {
    margin-bottom: 36px;
  }

}

.LendingPoolListItemCard__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 25px;

  .LendingPoolListItemCard__depositButton {
    width: 50%;
  }
  
  .LendingPoolListItemCard__withdrawButton {
    @include gap-like(16px);
    width: 50%;
  }
}

.LendingPoolListItemCard__depositButton {
  @include button-1(44px);

  &--disabled {
    @include disabled-button;
  }
}

.LendingPoolListItemCard__withdrawButton {
  @include button-2(44px);

  &--disabled {
    @include disabled-button;
  }
}

.LendingPoolListItemCard__aprDetail {
  border-left: 4px solid #f5f5f5;
  padding-left: 12px;
  margin-bottom: 13px;
}

.LendingPoolListItemCard__aprDetailItem {
  margin-bottom: 4px;

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 13px);
    color: #494a4d;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'm', 13px);
    color: #494a4d;
  }
}