.LeverageController {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
  @include not-draggable;
}

.LeverageController__title {
  @include font-style('font-1', 'sb', 16px);
  color: #494a4d;
}

.LeverageController__content {
  width: 140px;
  height: 42px;
  border-radius: 4px;
  background-color: #F5F7FA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 0;
}

.LeverageController__leverageValue {
  @include font-style('font-1', 'sb', 15px);
  line-height: 18px;
  color: #131414;
}

.LeverageController__minusIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.LeverageController__plusIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
}