.LeverageGauge {
  margin-bottom: 48px;
}

.LeverageGauge__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 28px;
}

.LeverageGauge__title {
  @include font-style('font-1', 'm', 18px);
  color: #131414;
}

.LeverageGauge__description {
  @include font-style('font-1', 'm', 11px);
  margin-top: 2px;
  color: rgba(73, 74, 77, 0.5);
}

.LeverageGauge__inputWrapper {
  display: flex;
  padding: 0 12px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: solid 1px #f2f2f2;
  background-color: #fcfcfc;
  width: 72px;
  height: 32px;
}

.LeverageGauge__leverageInput {
  @include font-style('font-1', 'sb', 13px);
  color: #797b80;
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%
}

.LeverageGauge__x {
  @include font-style('font-1', 'sb', 13px);
  color: #494a4d;
}

// Gauge Bar
.GaugeBar {
  position: relative;
  width: 100%;
  height: 4px;
}

.GaugeBar__bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: #3369ff;
  height: 4px;
  z-index: 9;
  max-width: 100%;
  cursor: pointer;
}
.GaugeBar__barBehind {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-radius: 2px;
  background-color: #f2f2f2;
  height: 4px; 
  cursor: pointer;
}

.GaugeBar__barItem {
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: solid 3px #f2f2f2;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &--active {

    border: solid 3px #3369ff;

    .GaugeBar__barItemLabel {
      @include font-style('font-1', 'sb', 13px);
      color: #494a4d;
    }
  }
}

.GaugeBar__barItemLabel {
  @include not-draggable;
  @include font-style('font-1', 'm', 13px);
  color: rgba(73, 74, 77, 0.5);
  cursor: pointer;
  margin-top: 12px;
}

.GaugeBar__barHead {
  position: absolute;
  width: 16px;
  height: 16px;
  border: solid 2px #3369ff;
  background-color: #3369ff;
  border-radius: 50%;

  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
}
