.LockedKLEVA {
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(24, 24, 24, 0.05);
  background-color: #fff;

  padding: 10px 12px;

  position: fixed;
  bottom: 116px;
  left: 12px;
  width: 208px;

  &--contentOnly {
    width: auto;
    position: static;
    background-color: unset;
    box-shadow: unset;
    border-radius: unset;

    .LockedKLEVA__unlockButton {
      @include button-1(54px);
      @include font-style('font-1', 'sb', 18px);

      &--disabled {
        @include disabled-button;
      }
    }
  }
}

.LockedKLEVA__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LockedKLEVA__headerLeft {
  @include font-style('font-1', 'm', 13px);
  color: #797b80;
  display: flex;
  align-items: center;
}

.LockedKLEVA__headerRight {

}

.LockedKLEVA__close {
  width: 18px;
  height: 18px;
}

.LockedKLEVA__airdrop {
  @include font-style('font-1', 'sb', 11px);

  height: 21px;
  align-items: center;
  display: flex;
  justify-content: center;

  width: 56px;
  text-align: center;
  border-radius: 8px;
  color: #f26b49;
  background-color: #ffede8;
  margin-left: 4px;
}

.LockedKLEVA__content {
  margin-top: 14px;
}

.LockedKLEVA__pendingAmount {

  @include font-style('font-1', 'sb', 16px);
  padding: 12px 0;
  width: 100%;
  border-radius: 8px;
  background-color: #fcfcfc;

  color: #3369ff;
  margin-bottom: 16px;
  text-align: center;
  
  @include desktop {
    padding: 6px 0;
    margin-bottom: 8px;
    @include font-style('font-1', 'sb', 13px);
  }
}

.LockedKLEVA__unlockButton {
  @include button-1(32px);
  background-color: #3369ff;
  color: $white;
  width: 100%;

  &--disabled {
    @include disabled-button;
  }
}