.LockedKLEVAPopup {
  .Modal__header {
    padding-bottom: 0;
    border-bottom: unset;
  }

  .Modal__title {
    display: flex;
    align-items: center;
  }

  .Modal__content {
    padding-top: 0;
  }
}