.MobileGNB {

  height: 100%;
  width: 90%;
  right: 0;
  left: unset;
  max-width: 295px;

  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  overflow: scroll;
  padding: 28px 30px;
  background-color: #fff;
  z-index: 9999;

  .Guide {
    align-items: flex-start;
  }

  .Guide__button {
    width: 81px;
    padding: 0;
    margin-top: 0;
    background-color: #2D65FC;
  }

  .Guide__title {
    @include font-style('font-1', 'b', 21px);
    color: #333333;
    width: 100%;
    margin-bottom: 12px;
  }

  .SubMenu {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .SubMenu__item {
    @include font-style('font-1', 'b', 17px);
    color: #333333;
    margin-bottom: 28px;
  }

  .LanguageChange {
    width: 100%;

    .Dropdown {
      width: 100%;
      height: 45px;
    }
  }
}

.MobileGNB__header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}

.MobileGNB__headerLogo {
  width: 105px;
  height: 32px;
}

.MobileGNB__close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.MobileGNB__connected {
  @include font-style('font-1', 'b', 21px);
  color: #333333;
  width: 100%;
  margin-bottom: 8px;
}

.MobileGNB__logout {
  @include font-style('font-1', 'm', 15px);
  color: #919FC8;
  cursor: pointer;
}