.NotificationBanner {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #F7F9FC;
  height: 51px;
  padding: 0 20px;
  border-bottom: 1px solid #F0F2FA;

  &--noItem {
    display: none;
  }

  @include desktop {
    padding: 0;
  }
}

.NotificationBanner__left {
  width: 100%;
  // height: 100%;
  @include desktop {
    width: auto;
  }
}

.NotificationBanner__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @include desktop {
    width: $CONTENT_WIDTH;
  }
}

.NotificationBanner__right {
  display: none;
  @include desktop {
    display: flex;
  }
}