.OpenSoon {

  .Modal__header {
    display: none;
  }
}

.OpenSoon__description {
  @include font-style('font-1', 'm', 15px);
  color: #131414;
  text-align: center;
  margin-bottom: 48px;
}

.OpenSoon__okButton {
  @include button-1(54px);
  @include font-style('font-1', 'sb', 18px);
  color: #3369ff;
  background-color: #ebf0ff;
  width: 100%;
}