.PartialController {
  padding: 0 8px;
}

.PartialController__gaugeSummary {
  @include font-style('font-1', 'sb', 16px);
  @include not-draggable;
  color: #494a4d;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #fcfcfc;
  text-align: center;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  strong {
    color: #3369ff;
    margin-right: 18px;
  }
}

.PartialController__plus {
  margin: 0 8px;
}

.PartialController__bottomContentTitle {
  @include font-style('font-1', 'b', 16px);
  color: #265FFC;
  margin-bottom: 6px;
  line-height: 20px;
  margin-top: 27px;
}

.PartialController__bottomContentDescription {
  @include font-style('font-1', 'm', 14px);
  line-height: 20px;
  color: #777D8F;
  
  strong {
    @include font-style('font-1', 'b', 14px);
  }
}