.PartialClosePositionPopupSummary {
  position: absolute;
  bottom: 0;
  // right: -50%;
  background-color: white;

  right: -412px;

  width: 400px !important;
}

.PartialClosePositionPopupSummary__hr {
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  margin: 24px 0;
}