@mixin grid-column {
  grid-template-columns: 8fr 20fr 9fr 9fr 9fr 9fr 9fr 10fr 8fr 9fr;
  
  max-width: calc(1920px - 240px);
}

.PositionItem {
  display: grid;
  @include grid-column;
  background-color: #fff;
  align-items: center;
  height: 75px;
  padding: 0 24px;
  border-bottom: solid 1px #f5f5f5;
  border-radius: 0;

  &:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.PositionItem__id {
  @include font-style('font-1', 'm', 12px);
  color: #494a4d;
}

.PositionItem__info {
  display: flex;
  gap: 18px;
  align-items: center;
}

.PositionItem__infoIconList {
  display: flex;
  flex-direction: column;
}

.PositionItem__infoIcon {
  width: 24px;
  height: 24px;
  position: relative;

  &:last-of-type {
    top: -6px;
    z-index: 9;
  }
}

.PositionItem__infoTitleList {
  display: flex; 
  flex-direction: column;
}

.PositionItem__infoTitle {
  @include font-style('font-1', 'b', 14px);
  color: #131414;
}

.PositionItem__infoExchangeTitle {
  @include font-style('font-1', 'm', 11px);
  color: #797b80;
}

.PositionItem__positionValue {
  @include font-style('font-1', 'm', 12px);
  color: #494a4d;

  strong {
    @include font-style('font-1', 'sb', 12px);
    margin-right: 2px;
  }
}

.PositionItem__debtValue {
  @include font-style('font-1', 'm', 12px);
  color: #494a4d;
  strong {
    @include font-style('font-1', 'sb', 12px);
    margin-right: 2px;
  }
}

.PositionItem__equityValue {
  @include font-style('font-1', 'm', 12px);
  color: #494a4d;
  strong {
    @include font-style('font-1', 'sb', 12px);
    margin-right: 2px;
  }
}

.PositionItem__apy {
  @include font-style('font-1', 'm', 12px);
  color: #494a4d;
  strong {
    @include font-style('font-1', 'sb', 12px);
    margin-right: 2px;
  }
}

.PositionItem__debtRatio {
  @include font-style('font-1', 'm', 12px);
  color: #494a4d;
  strong {
    @include font-style('font-1', 'sb', 12px);
    margin-right: 2px;
  }
}

.PositionItem__liquidationThreshold {
  @include font-style('font-1', 'm', 12px);
  color: #494a4d;
  strong {
    @include font-style('font-1', 'sb', 12px);
    margin-right: 2px;
  }
}

.PositionItem__safetyBuffer {
  @include font-style('font-1', 'm', 12px);
  color: #00b470;
  strong {
    @include font-style('font-1', 'sb', 12px);
    margin-right: 2px;
  }
}


.PositionItem__adjustButton {
  @include button-2(28px);
  @include font-style('font-1', 'sb', 12px);
  background-color: #ebf0ff;
  color: #3369ff;
  width: 92px;
  margin-bottom: 4px;
}

.PositionItem__closeButton {
  @include button-2(28px);
  @include font-style('font-1', 'sb', 12px);
  background-color: #ffeae8;
  color: #f25a49;
  width: 92px;
}