.Shortcuts {
  display: flex;
  align-items: center;
}

.Shortcuts__item {
  @include font-style('font-1', 'm', 15px);
  cursor: pointer;
  color: #93A0C4;
  margin-right: 20px;
  display: flex;
  align-items: center;

  @include desktop {
    @include font-style('font-1', 'm', 14px);
    margin-right: 0;
    margin-left: 20px;
  }

  &::after {
    content: "";
    display: flex;
    background-image: url(/static/images/exported/right-gray-arrow.svg?date=20220929);
    background-repeat: no-repeat;
    width: 8px;
    height: 13px;
    background-size: 100%;
    margin-left: 4px;
  }
}