.StakingPoolItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;

  &--expand {

    margin-bottom: 48px;

    .StakingPoolItem__content {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.StakingPoolItem__title {
  @include font-style('font-1', 'm', 18px);
  color: #131414;
  margin-bottom: 20px;
  padding-left: 16px;

  @include desktop {
    padding-left: 0;
  }
}

.StakingPoolItem__contentWrapper {
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 rgba(24, 24, 24, 0.05);
}

.StakingPoolItem__content {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 26fr 22fr 26fr 26fr 44px;
  
  max-width: calc(1920px - 240px);

  border-radius: 8px;
  background-color: #fff;
  height: 114px;
  padding-left: 32px;
  padding-right: 24px;
}

.StakingAssetInfo {
  display: flex;
  align-items: center;
  position: relative;

  // border-image-source: linear-gradient(134deg, #2a51bd 15%, #668fff 57%);

  &::before {
    @include font-style('font-1', 'b', 10px);
    color: $white;
    content: "ib";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #3369ff;
  }
}

.StakingAssetInfo__icon {
  


  width: 50px;
  height: 50px;
  margin-right: 20px;

  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;

  border: double 1px transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff,#fff ), radial-gradient(circle at top left, #2a51bd,#668fff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.StakingAssetInfo__info {
  display: flex;
  flex-direction: column;
}

.StakingAssetInfo__title {
  @include font-style('font-1', 'b', 18px);
  color: #131414;
  margin-bottom: 4px;
}

.StakingPoolItem__expandIcon {
  width: 20px;
  height: 20px;
  justify-self: center;
}

.StakingPoolItem__APRAPY {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}

.StakingPoolItem__APRAPYContent {
  text-align: right;
  width: 150px;
  position: absolute;
  /* right: 20%; */
  left: 50%;
  transform: translateX(-50%);
}

.APRAPY__apy {
  @include font-style('font-1', 'b', 20px);
  color: #3369ff;
}

.APRAPY__apyLabel {
  @include font-style('font-1', 'm', 16px);
  color: #3369ff;
  margin-right: 4px;
}

.APRAPY__apr {
  @include font-style('font-1', 'm', 12px);
  color: #797b80;
}

.StakingPoolItem__Staked {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: center;
}

.StakingPoolItem__StakedTitle {
  @include font-style('font-1', 'm', 12px);
  color: #303133;
}

.StakingPoolItem__StakedIBTokenAmount {
  @include font-style('font-1', 'm', 18px);
  color: #131414;
}

.StakingPoolItem__StakedRawTokenAmount {
  @include font-style('font-1', 'm', 12px);
  color: #797b80;
}

.StakingPoolItem__Earned {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: center;
}

.StakingPoolItem__EarnedTitle {
  @include font-style('font-1', 'm', 12px);
  color: #303133;
}

.StakingPoolItem__EarnedAmount {
  @include font-style('font-1', 'm', 18px);
  color: #3369ff;
}

.StakingPoolItem__EarnedAmountInUSD {
  @include font-style('font-1', 'm', 12px);
  color: #797b80;
}

.StakingPoolItem__expandItem {
  text-align: center;
}