.StakeHeaderInfo {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 36px;
  box-shadow: 0 2px 10px 0 rgba(24, 24, 24, 0.05);
  border-radius: 8px;

  background-color: #ffffff;
  
  @include desktop {
    width: 100%;
    flex-direction: row;
    margin-bottom: 48px;
    box-shadow: unset;
    border-radius: 0;
    background-color: unset;
    
    .GTEarned {
      @include gap-like(16px);
    }
  }
}