.SubMenu {
  display: flex;
  align-items: center;
}

.SubMenu__item {
  @include font-style('font-1', 'm', 14px);
  color: #777D8F;
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  align-items: center;
  line-height: 16px;

  &--switch {
    &::before {
      content: "";
      display: inline-block;
      background-image: url(/static/images/exported/klayswitch.svg);
      width: 20px;
      height: 20px;
      background-size: 100%;
      margin-right: 10px;

      @include desktop {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }
  }
  
  &--useguide {
    &::before {
      content: "";
      display: inline-block;
      background-image: url(/static/images/exported/useguide.svg);
      width: 20px;
      height: 20px;
      background-size: 100%;
      margin-right: 10px;

      @include desktop {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }
  }
  
  &--withus {
    &::before {
      content: "";
      display: inline-block;
      background-image: url(/static/images/exported/withus.svg);
      width: 20px;
      height: 20px;
      background-size: 100%;
      margin-right: 10px;

      @include desktop {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }
  }

  &--dashboard {
    &::before {
      content: "";
      display: inline-block;
      background-image: url(/static/images/exported/dashboard.svg);
      width: 20px;
      height: 20px;
      background-size: 100%;
      margin-right: 10px;

      @include desktop {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }
  }
}