.SubMenu {
  display: flex;
  align-items: center;
}

.SubMenu__item {
  @include font-style('font-1', 'sb', 15px);
  color: #777D8F;
  margin-right: 18px;

  &--switch {
    &::before {
      content: "";

    }
  }
}