.TabNavigation__wrapper {
  &--float {

    .TabNavigation {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 59px;
      background-color: white;
      z-index: 10;
    }

    .TabNavigationItem__invisibleWall {
      display: block;
      height: 120px;
      background-color: white;
    }

    @include desktop {
      .TabNavigation {
        position: static;
        height: auto;
      }

      .TabNavigationItem__invisibleWall {
        display: none;
      }
    }
  }
}

.TabNavigation {
  display: flex;
  align-items: center;
  padding: 0 20px;

  border-bottom: 1px solid #D1D5E0;
  justify-content: center;
}

.TabNavigationItem__invisibleWall {
  display: none;
}

.TabNavigation__content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include desktop {
    width: $CONTENT_WIDTH;
  }
}

.TabNavigation__tabs {
  display: flex;
  align-items: center;
  width: 100%;

  @include desktop {
    width: 228px;
    white-space: nowrap;
    position: relative;
    left: -2px;
    gap: 28px;
  }
}

.TabNavigationItem {
  position: relative;
  cursor: pointer;
  top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  flex: 1;
  @include font-style('font-1', 'm', 18px);
  color: #636B80;
  white-space: nowrap;
  line-height: 22px;
  border-bottom: 2px solid transparent;
  padding: 0 12px;

  @include desktop {
    padding: 0;
  }

  &--active {
    color: #222222;
    border-bottom: 2px solid #333333;
    @include font-style('font-1', 'b', 18px);
  }
}

.TabNavigation__right {
  display: none;

  @include desktop {
    display: flex;
    align-items: center;
  }
}