.TVL {
  display: flex;
  align-items: center;

  margin-right: 8px;
}

.TVL__label {
  @include font-style('font-1', 'm', 15px);
  color: #9297A6;
  margin-right: 4px;
  letter-spacing: -0.5px;
  line-height: 19px;
}

.TVL__value {
  @include font-style('font-1', 'sb', 15px);
  color: #333333;
  letter-spacing: -0.5px;
  line-height: 19px;
}