.WithdrawModal__balance {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.WithdrawModal__available {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  
  @include desktop {
    display: block;
  }
}

.WithdrawModal__availableLabel {
  @include font-style('font-1', 'm', 13px);
  color: #494a4d;
}

.WithdrawModal__availableAmount {
  @include font-style('font-1', 'sb', 13px);
  color: #494a4d
}

.WithdrawModal__withdrawInput {
  margin-bottom: 20px;
  // margin-bottom: 28px;
  // @include desktop {
  //   margin-bottom: 100px;
  // }
}

.WithdrawModal__youWillReceive {
  @include font-style('font-1', 'm', 13px);
  color: #797b80;
  margin-bottom: 8px;
}

.WithdrawModal__bottom {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  
  @include desktop {
    flex-direction: row;
  }
}

.WithdrawModal__receive {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fcfcfc;

  padding: 12px 16px;
  margin-bottom: 42px;
  height: 44px;

  @include desktop {
    width: calc(100% - 196px);
    padding: 16px;
    margin-bottom: 0;
    height: 54px;
  }
}

.WithdrawModal__receiveAmount {
  @include font-style('font-1', 'sb', 16px);
  white-space: pre-wrap;
  word-break: break-all;
  color: #3369ff;
}

.WithdrawModal__receiveToken {
  @include font-style('font-1', 'sb', 16px);
  color: #494a4d;
}

.WithdrawModal__confirmButton {
  width: 100%;
  
  @include button-1(54px);
  @include font-style('font-1', 'sb', 18px);

  &--disabled {
    @include disabled-button;
  }
  
  @include desktop {
    width: 180px;
  }
}