.Glossary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  // overflow: scroll;
  z-index: 9;

  // scroll-behavior:smooth;

  @include desktop {
    position: static;
    width: $CONTENT_WIDTH;
    margin: 0 auto;
    padding-bottom: 30px
    // padding: 0 40px 0 0px;
  }

  text {
    @include font-style('font-1', 'r', 11px);
  }
}

.GlossaryHeader {
  display: flex;
  align-items: center;
  // height: 60px;
  // margin-bottom: 20px;

  padding: 18px 20px; 

  @include desktop {
    margin-bottom: 30px;
    padding: 0;
  }
}

.GlossaryHeader__title {
  @include font-style('font-1', 'b', 20px);
  line-height: 24px;
  color: #222222;
  
  text-align: center;
  position: relative;
  width: 100%;

  @include desktop {
    @include font-style('font-1', 'b', 24px);
    text-align: left;
    line-height: 29px;
  }
}

.GlossaryHeader__close {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}

.Glossary__content {
  width: 100%;
  padding: 20px 25px 0 25px;
  padding-bottom: 0;
  overflow: scroll;
  scroll-behavior: smooth;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include desktop {
    width: 100%;
    padding: 0 20px 0 0px;
  }
}

.Glossary__category {
  @include font-style('font-1', 'b', 24px);
  line-height: 29px;
  color: #222222;
  margin-bottom: 16px;

  @include desktop {
    @include font-style('font-1', 'sb', 18px);
    line-height: 22px;
    margin-bottom: 14px;
  }
}

.Glossary__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  width: 100%;

  @include desktop {
    margin-bottom: 40px;
  }
}

.GlossaryItem {
  // width: 48%;
  width: 50%;
  height: 72px;
  margin-right: 7px;
  margin-bottom: 10px;

  border: 1px solid #EBEEF5;
  box-shadow: 0px 4px 4px -2px rgba(0, 21, 83, 0.04);
  border-radius: 8px;

  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:nth-child(2n) {
    margin-right: -7px;
  }

  @include desktop {
    flex: unset;
    width: 33.33%;
    height: 100px;
    margin-bottom: 15px;
    margin-right: 10px;

    &:nth-child(2n) {
      margin-right: 10px;
    }

    &:nth-child(3n) {
      margin-right: -20px;
    }
  }
}

.GlossaryItem__image {
  max-width: 100%;
  padding: 0 10px;
}

.Glossary__itemList {
  display: flex;
  margin-bottom: 33px;
  flex-wrap: wrap;
  width: 100%;
  
  @include desktop {
    width: $CONTENT_WIDTH;
    margin-bottom: 36px;
  }
}

.Glossary__itemTitle {
  @include font-style('font-1', 'sb', 16px);
  cursor: pointer;
  width: 100%;
  color: #636878;
  display: flex;
  align-items: center;
  padding: 15px 18px;
  background-color: #F6F7FB;
  border-radius: 6px;
  margin-bottom: 7px;
  line-height: 20px;
  
  @include desktop {
    @include font-style('font-1', 'm', 15px);
    line-height: 19px;
    padding: 13px 15px;
    width: 320px;
    margin-bottom: 6px;
    margin-right: 10px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

.Glossary__tabs {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 23px;
  margin: 8px 0 13px 0;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-shrink: 0;
  
  @include desktop {
    display: none;
  }
}

.Glossary__tab {
  @include font-style('font-1', 'm', 16px);
  margin-right: 4px;
  color: #333333;
  display: flex;
  white-space: nowrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 2px solid #D7DCEA;
  border-radius: 47px;
  height: 42px;
  cursor: pointer;
  position: relative;

  padding: 10px 16px;
  line-height: 18px;
  // margin-bottom: 33px;

  // 1px-like (prevent width flickering)
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 47px;
  }

  &--active {
    border: 2px solid #416FFA;
    &::before {
      display: none;
    }
  }

  img {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }
}