.Intro3 {
  display: flex;
  flex-direction: column;
  
  height: 633px;
  justify-content: center;
  padding: 0 30px;

  @include desktop {
    padding: 0;
    flex-direction: row;
    width: $CONTENT_WIDTH;
    margin: 0 auto;
    justify-content: space-between;
    height: 400px;
  }

  align-items: center;

  img {
    width: 280px;

    @include desktop {
      width: 348px;
    }
  }
}

.Intro3__left {
  display: flex;
  flex-direction: column;

  width: 100%;
  
  @include desktop {
    width: 410px;
  }
}

.Intro3__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  @include desktop {
    width: auto;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.Intro3__title {
  @include font-style('font-1', 'b', 19px);
  color: #265FFC;
  margin-bottom: 9px;
  
  @include desktop {
    margin-bottom: 12px;
  }
}

.Intro3__description {
  @include font-style('font-1', 'b', 29px);
  color: #222222;
  margin-bottom: 24px;
  line-height: 37px;

  @include desktop {
    @include font-style('font-1', 'b', 40px);
    margin-bottom: 24px;
    line-height: 52px;
  }
}

.Intro3__description2 {
  @include font-style('font-1', 'sb', 19px);
  color: #4C505C;
  line-height: 26px;

  strong {
    @include font-style('font-1', 'b', 19px);
  }

  @include desktop {
    line-height: 34px;
    @include font-style('font-1', 'sb', 24px);

    strong {
      @include font-style('font-1', 'b', 24px);
    }
  }
}