.Intro1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 30px;
  
  @include desktop {
    flex-direction: row;
    width: $CONTENT_WIDTH;
    margin: 0 auto;
    justify-content: space-between;
    height: 470px;
    padding: 0;
  }

  img {
    width: 280px;

    @include desktop {
      width: 353px;
    }
  }
}

.Intro1__left {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include desktop {
    width: 410px;
    text-align: left;
    margin-bottom: 15px;
  }
}

.Intro1__right {
  text-align: center;
  
  @include desktop {
    text-align: left;
    margin: 40px 40px 0 0;
  }
}

.Intro1__title {
  @include font-style('font-1', 'eb', 36px);
  color: #265FFC;
  margin-bottom: 18px;
  line-height: 44px;
  word-break: keep-all;

  @include desktop {
    @include font-style('font-1', 'eb', 44px);
    line-height: 54px;
  }
}

.Intro1__description {
  @include font-style('font-1', 'sb', 17px);
  color: #4C505C;
  margin-bottom: 45px;
  line-height: 24px;
  word-break: keep-all;

  strong {
    @include font-style('font-1', 'b', 17px);
  }

  @include desktop {
    @include font-style('font-1', 'sb', 22px);
    strong {
      @include font-style('font-1', 'b', 24px);
    }
    margin-bottom: 30px;
    line-height: 32px;
  }
}

.Intro1__start {
  display: none;
  
  animation-fill-mode: forwards;
  &--shouldShow {
    display: flex;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 60px);
    z-index: 9;
    animation: start-button-show 500ms;
    animation-fill-mode: forwards;
  }

  &--hideAnimation {
    animation: start-button-hide 500ms;
    animation-fill-mode: forwards;
  }

  @include font-style('font-1', 'b', 18px);
  height: 56px;
  color: #FFFFFF;
  outline: 0;
  border: 0;
  background: linear-gradient(93.63deg, #265FFC 19.59%, #2678FC 75.02%);
  box-shadow: 0px 8px 28px -8px rgba(0, 37, 149, 0.3);
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  
  @include desktop {
    @include font-style('font-1', 'b', 20px);
    width: 192px;
    transform: unset;
    display: flex;
    position: static;
    height: 60px;
  }

}

@keyframes start-button-show {
  0% {
    opacity: 0;
    bottom: -100px;
  }

  100% {
    opacity: 1;
    bottom: 30px;
  }
}

@keyframes start-button-hide {
  0% {
    opacity: 1;
    bottom: 30px;
  }

  100% {
    opacity: 0;
    bottom: -100px;
  }
}