.Intro5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  justify-content: center;
  
  @include desktop {
    height: 430px;
    padding: 0;
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }

}

.Intro5__content {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    
  }
}

.Intro5__title {
  @include font-style('font-1', 'eb', 26px);
  color: #222222;
  margin-bottom: 24px;
  width: 100%;
  line-height: 34px;

  @include desktop {
    margin-bottom: 30px;
    br {
      display: none;
    }
  }
}

.VideoItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include desktop {
    margin-right: 20px;
    margin-bottom: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &--2 {
    .VideoItem__subtitle {
      color: #6289F5;
      background-color: #F2F6FF;
    }
  }

  &--3 {
    .VideoItem__subtitle {
      color: #F56262;
      background-color: #FFF2F2;
    }
  }
}

.VideoItem__title {
  @include font-style('font-1', 'b', 19px);
  display: flex;
  align-items: center;
  color: #222222;
  margin-bottom: 6px;
}

.VideoItem__subtitle {
  @include font-style('font-1', 'sb', 12px);
  padding: 3px 6px;
  border-radius: 3px;
  margin-left: 5px;
}

.VideoItem__action {
  cursor: pointer;
  @include font-style('font-1', 'sb', 16px);
  display: flex;
  align-items: center;
  color: #265FFC;
  margin-top: 10px;

  &::after {
    content: "";
    width: 8px;
    height: 13px;
    background-image: url(/static/images/exported/right-blue-arrow.svg?date=20220929);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 5px;
  }
}

.VideoItem__imageWrapper {
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(/static/images/exported/play.png?date=20220929);
    background-size: 100%;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 62px;
    height: 62px;
  }

  @include desktop {
    // height: 176px;
  }
}

.VideoItem__image {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  
  @include desktop {
    height: 176px;
  }
}

.VideoItem__description {
  @include font-style('font-1', 'm', 15px);
  color: #777D8F;
  line-height: 22px;
}