.Withus {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: scroll;
  z-index: 9;

  padding: 0 0 20px 0;

  @include desktop {
    position: static;
    width: $CONTENT_WIDTH;
    margin: 0 auto;
    // padding: 0 40px 0 0px;
  }

  text {
    @include font-style('font-1', 'r', 11px);
  }
}

.WithusHeader {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;

  padding: 18px 20px; 

  @include desktop {
    margin-bottom: 12px;
    padding: 0;
  }
}

.WithusHeader__title {
  @include font-style('font-1', 'b', 20px);
  line-height: 24px;
  color: #222222;
  
  text-align: center;
  position: relative;
  width: 100%;

  @include desktop {
    @include font-style('font-1', 'b', 24px);
    text-align: left;
  }
}

.WithusHeader__close {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}

.Withus__content {
  width: 100%;
  padding: 0 27px 0 20px;
  padding-bottom: 0;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include desktop {
    width: 100%;
    padding: 0 20px 0 0px;
  }
}

.Withus__category {
  @include font-style('font-1', 'sb', 18px);
  line-height: 22px;
  color: #222222;
  margin-bottom: 14px;

  @include desktop {

  }
}

.Withus__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  width: 100%;

  @include desktop {
    margin-bottom: 40px;
  }
}

.WithusItem {
  // width: 48%;
  width: 50%;
  height: 72px;
  margin-right: 7px;
  margin-bottom: 10px;

  border: 1px solid #EBEEF5;
  box-shadow: 0px 4px 4px -2px rgba(0, 21, 83, 0.04);
  border-radius: 8px;

  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:nth-child(2n) {
    margin-right: -7px;
  }

  &--sooho {
    .WithusItem__image {
      height: 70%;
    }
  }

  @include desktop {
    flex: unset;
    width: 33.33%;
    height: 100px;
    margin-bottom: 15px;
    margin-right: 10px;

    &:nth-child(2n) {
      margin-right: 10px;
    }

    &:nth-child(3n) {
      margin-right: -20px;
    }
  }
}

.WithusItem__image {
  max-width: 100%;
  height: 100%;
  padding: 0 10px;
}