.Chart {

  &--moving {
    * {
      touch-action: none;
    }
  }

  .Chart__circleWrapper {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 5px;
      background-color: red;
      display: block;
    }
  }

  foreignObject {
    pointer-events: none;
  }
}

.Chart__activeItem {
  rect {
    border-radius: 8px;
  }
}

.Chart__itemDetail {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 8px 13px;
  box-shadow: 0px 9px 30px -8px rgba(0, 25, 101, 0.1);
}

.Chart__itemDetailTitle {
  @include font-style('font-1', 'b', 14px);
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 3px;
  text-align: center;
}

.Chart__itemDetailSubtitle {
  @include font-style('font-1', 'r', 13px);
  line-height: 16px;
  color:  #7DB6FA;
  margin-bottom: 3px;
  text-align: center;
}

.Chart__itemBorderLine {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-left: 1px dashed #99B1F3;
}