.Dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: scroll;
  z-index: 9;
  padding: 0;
  
  @include desktop {
    position: static;
    width: $CONTENT_WIDTH;
    margin: 0 auto;
  }

  text {
    @include font-style('font-1', 'r', 11px);
  }
}

.DashboardHeader {
  display: flex;
  align-items: center;
  padding: 18px 20px;
  margin-bottom: 24px;
  
  @include desktop {
    padding: 0;
    margin-bottom: 30px;
  }
}

.DashboardHeader__title {
  @include font-style('font-1', 'b', 20px);
  line-height: 24px;
  color: #222222;
  
  text-align: center;
  position: relative;
  width: 100%;
  
  @include desktop {
    @include font-style('font-1', 'b', 24px);
    line-height: 29px;
    text-align: left;
  }
}

.DashboardHeader__close {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2px;
  cursor: pointer;

  @include desktop {
    display: none;
  }
}

.Dashboard__content {
  width: 100%;
  padding-bottom: 40px;

  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;

  @include desktop {
    flex-direction: row;
    width: 100%;
  }
}

.Dashboard__left {
  width: 100%; 
  flex: auto;
  padding: 0px 10px 0px 25px;
  
  @include desktop {
    padding: 0 40px 0 0;
    width: auto;
  }
}

.Dashboard__right {
  padding: 0 25px;
  width: 100%;

  @include desktop {
    padding: 0;
    width: 323px;
  }
}

.Chart {
  
  svg {
    margin-top: -50px;
    width: 100%;
    height: 100%;
  }
}

.Dashboard__lendnfarming {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
  .ChartItem:first-of-type {
    margin-right: 10px;
  }

  @include desktop {
    flex-direction: row;

    .ChartItem:first-of-type {
      margin-right: 30px;
    }
  }
}

.Dashboard__lendingChart {
  .ChartItem__value {
    @include font-style('font-1', 'b', 24px);
    line-height: 26px;
  }
}

.Dashboard__farmingChart {
  .ChartItem__value {
    @include font-style('font-1', 'b', 24px);
    line-height: 26px;
  } 
}