.TotalSupplyInfo {
  display: flex;  
  flex-direction: column;
}

.TotalSupplyInfo__title {
  @include font-style('font-1', 'b', 15px);
  color: #333333;
  margin-bottom: 8px;

  img {
    margin-right: 4px;
  }
}

.TotalSupplyInfo__supply {
  display: flex;
  align-items: baseline;
  margin-bottom: 7px;
  line-height: 36px;

  strong {
    @include font-style('font-1', 'b', 30px);
    color: #265FFC;
    margin-bottom: 10px;
  }

  span {
    @include font-style('font-1', 'b', 16px);
    color: #265FFC;
    margin-left: 6px;
  }
}

.TotalSupplyInfo__marketcap {
  @include font-style('font-1', 'm', 16px);
  color: #333333;
  margin-bottom: 22px;
}

.TotalSupplyInfo__gauge {
  display: flex;
  width: 100%;
  height: 7px;
  margin-bottom: 20px;
}

.TotalSupplyInfo__gaugeItem {
  
  &--circulation {
    background-color: #2D65FC;
    margin-right: 2px;
  }

  &--lockup {
    background-color: #002DA9;
    margin-right: 2px;
  }
  
  &--burn {
    background-color: #FA5A5A;
  }

  &:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

}

.TotalSupplyInfo__hr {
  background-color: #EBEEF5;

  width: 100%;
  height: 1px;
  border: 0;
  margin: 24px 0;
}

.TotalSupplyInfo__circulation {

  display: flex;
  align-items: center;

  margin-bottom: 12px !important;

  .LabelAndValue__label {
    span:first-of-type {
  
      @include font-style('font-1', 'm', 15px);
      color: #333333;
  
      &::before {
        display: inline-block;
        content: "";
        width: 7px;
        height: 7px;
        margin-right: 7px;
        border-radius: 50%;
        background-color: #2D65FD;
      }
    }
    
    span:last-of-type {
      margin-left: 4px;
      @include font-style('font-1', 'r', 15px);
      color: #9BA2B9;
    }
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'b', 16px);
    color: #2D65FD;
  }
}

.TotalSupplyInfo__lockup {
  margin-bottom: 12px !important;


  .LabelAndValue__label {
    display: flex;
    align-items: center;
    
    span:first-of-type {
      display: flex;
      align-items: center;
  
      @include font-style('font-1', 'm', 15px);
      color: #333333;
  
      &::before {
        display: inline-block;
        content: "";
        width: 7px;
        height: 7px;
        margin-right: 7px;
        border-radius: 50%;
        background-color: #002DA9;
      }
    }
    
    span:last-of-type {
      margin-left: 4px;
      @include font-style('font-1', 'r', 15px);
      color: #9BA2B9;
    }
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'b', 16px);
    color: #002DA9;
  }
}

.TotalSupplyInfo__burn {
  .LabelAndValue__label {
    span:first-of-type {
  
      @include font-style('font-1', 'm', 15px);
      color: #333333;
  
      &::before {
        display: inline-block;
        content: "";
        width: 7px;
        height: 7px;
        margin-right: 7px;
        border-radius: 50%;
        background-color: #FA5A5A;
      }
    }
    
    span:last-of-type {
      margin-left: 4px;
      @include font-style('font-1', 'r', 15px);
      color: #9BA2B9;
    }
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'b', 16px);
    color: #F73D3D;
  }
}

.TotalSupplyInfo__accumBuybackInUSD {

  margin-bottom: 12px !important;

  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    color: #333333;
  }

  .LabelAndValue__value {
    @include font-style('font-1', 'b', 17px);
    color: #222222;
  }
}

.TotalSupplyInfo__accumBurnAmount {
  .LabelAndValue__label {
    @include font-style('font-1', 'm', 15px);
    color: #333333;
  }

  .LabelAndValue__value {
    text-align: right;

    p:first-of-type {
      @include font-style('font-1', 'b', 17px);
      color: #222222;
      margin-bottom: 5px;
    }
    
    p:last-of-type {
      @include font-style('font-1', 'm', 14px);
      color: #777D8F;
    }
  }
}

.TotalSupplyInfo__see {
  @include button-1(46px);
  margin-top: 24px;
  background-color: #EDF2FC;
  color: #265FFC;
}