.Dropdown {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;

  background-image: url(/static/images/arrow-down-blue.svg);
  background-position: right 16px top 50%;
  background-repeat: no-repeat;
  background-size: 14px 8px;
}

.Dropdown__list {
  position: absolute;
  max-height: 280px;
  overflow: scroll;
  z-index: 9;
  top: 102px;
  left: 0;
  width: 100%;
  padding: 10px 0;

  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .Dropdown__item {
    background-color: transparent;
  }
}

.Dropdown__item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 48px;
  margin: 0 7px;
  border-radius: 8px;
  @include font-style('font-1', 'b', 14px);
  color: $white;
  padding: 0 12px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  background-color: #f2f2f2;
  transition: background-color 100ms;

  &:first-of-type {
    border-bottom: 0;
  }

  &--selected {
    // background-color: rgba(0, 0, 0, 0.4) !important;
    background-color: #ebf0ff !important;
    border-radius: 6px;
  }
}

.Dropdown__itemRight {
  display: flex;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.Dropdown__itemTitle {
  @include font-style('font-1', 'sb', 13px);
  color: #797b80;
}

.Dropdown__itemIcon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  border-radius: 50%;
  position: relative;
  left: -14px;

  &:first-of-type {
    left: 0;
  }
}

.Dropdown__searchWrapper {
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Dropdown__search {
  @include font-style('font-1', 'm', 13px);
  color: $white;
  background-image: url(/static/images/18-line-search.svg);
  background-position: left 10px top 50%;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);

  width: 100%;
  border: 0;
  outline: 0;
  height: 36px;

  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}