.Dropdown {
  border: 1px solid #D7DCEA;
  height: 45px;
  width: 110px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;

  @include font-style('font-1', 'sb', 16px);
  color:  #636878;
  position: relative;

  background-image: url(/static/images/exported/down.svg?date=20220929);
  background-size: 10px;
  background-position: top 50% right 11px;
  background-repeat: no-repeat;

  @include desktop {
    @include font-style('font-1', 'sb', 13px);
    height: 29px;
    padding-left: 10px;
  }

  &--opened {
    background-image: url(/static/images/exported/up.svg?date=20220929);
  }

  &--upper {
    .Dropdown__list {
      top: unset;
      bottom: 120%;
    }
  }
}

.Dropdown__list {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 120%;
  left: 0;
  background-color: white;
  border-radius: 5px;
  padding: 11px 0;

  background: #FFFFFF;

  border: 1px solid #D7DCEA;
  box-shadow: 0px 9px 16px -6px rgba(14, 28, 71, 0.13);
  border-radius: 7px;
}

.Dropdown__listItem {
  height: 39px;
  display: flex;
  align-items: center;
  padding: 0 19px;

  @include font-style('font-1', 'm', 15px);
  color: #4C505C;

  &--selected {
    @include font-style('font-1', 'b', 15px);
    color: #265FFC;
  }
}