.Dropdown {
  border: 1px solid #CCD1E2;
  height: 29px;
  width: 110px;
  padding: 0 11px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;

  @include font-style('font-1', 'm', 13px);
  color: #777D8F;
  position: relative;
}

.Dropdown__list {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 100%;
  left: 0;
  border: 1px solid #CCD1E2;
  background-color: white;
  border-radius: 3px;
}

.Dropdown__listItem {
  height: 29px;
  display: flex;
  align-items: center;
  padding: 0 11px;
}