.Guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 18px;
}

.Guide__title {
  @include font-style('font-1', 'b', 22px);
  color: #222222;
  line-height: 30px;
}

.Guide__description {
  margin-top: 8px;
  @include font-style('font-1', 'm', 15px);
  color: #777D8F;
}

.Guide__button {
  @include button-1(39px);
  @include font-style('font-1', 'sb', 15px);
  margin-top: 20px;
  border-radius: 5px;
  
  padding: 0 20px;
  
  @include desktop {
    @include button-1(50px);
    @include font-style('font-1', 'sb', 20px);
    padding: 0 20px;
  }
}


.Guide__buttons {
  display: flex;
  width: 100%;

  .Guide__button {
    flex: 1;

    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include desktop {
    min-width: 400px;
    width: unset;
  }
}