.InputWithPercentage {
  position: relative;
  display: flex;
  border-radius: 5px;
  background-color: #F2F4FA;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  // padding-right: 6px;
  padding-right: 17px;
  justify-content: space-between;

  &--active {

  }

  &--focused {
    // border: solid 1px #c4d1f5;
    // background-color: #fafbff;
  }

  .Opener {
    // width: 72px;
    // width: 108px;
    width: 80px;
    margin-bottom: 0;
    border-radius: 8px;
    background-color: transparent !important;
  }

  .Opener__searchContainer {
    display: none;
  }
  
  .Opener__item {
    height: 39px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    
    &:first-of-type {
      min-width: 72px;
      background-image: url(/static/images/common/btn-down.svg);
      background-repeat: no-repeat;

      background-position: right 0px top 50%;
      background-size: 13px;
      text-align: right;
    }

    &--selected {
      .Opener__itemTitle {
        color: #265ffc;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .Opener__list {
    top: 100%;

    .Opener__item {
      min-width: unset;
    }
  }
}


.InputWithPercentage__input {
  @include font-style('font-1', 'b', 20px);
  color: #222222;
  // flex: 1;
  // width: 177px;
  width: 100%;
  background-color: transparent;
  border: 0;
  height: 100%;
  outline: 0;

  &::placeholder {
    color: #a9abb3;
  }
}

.InputWithPercentage__image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.InputWithPercentage__label {
  @include font-style('font-1', 'm', 16px);
  display: flex;
  align-items: center;
  color: #777D8F;
}

.InputWithPercentage__right {
  display: flex;
  align-items: center;
}

