.InputWithPercentage {
  position: relative;
  display: flex;
  border-radius: 8px;
  background-color: #F2F4FA;
  align-items: center;
  height: 44px;
  padding: 0 15px;
  padding-right: 6px;
  justify-content: space-between;

  &--active {

  }

  &--focused {
    // border: solid 1px #c4d1f5;
    // background-color: #fafbff;
  }

  .Opener {
    width: 72px;
    margin-bottom: 0;
    border-radius: 8px;
    background-color: transparent !important;
  }

  .Opener__searchContainer {
    display: none;
  }
  
  .Opener__item {
    height: 32px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    
    &:first-of-type {
      min-width: 72px;
      background-image: url(/static/images/arrow-down-blue.svg);
      background-position: right 10px top 50%;
      background-repeat: no-repeat;
      background-size: 10px 6px;
    }

    &--selected {
      .Opener__itemTitle {
        color: #3369ff;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .Opener__list {
    top: 100%;

    .Opener__item {
      min-width: unset;
    }
  }
}


.InputWithPercentage__input {
  @include font-style('font-1', 'b', 20px);
  color: #222222;
  // flex: 1;
  // width: 177px;
  width: 100%;
  background-color: transparent;
  border: 0;
  height: 100%;
  outline: 0;

  &::placeholder {
    color: #a9abb3;
  }
}

.InputWithPercentage__image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.InputWithPercentage__label {
  @include font-style('font-1', 'sb', 16px);
  display: flex;
  align-items: center;
  color: #494a4d;
  // margin-left: 15px;
  // margin-right: 12px;
  // width: 52px;
}

.InputWithPercentage__right {
  display: flex;
  align-items: center;
  margin-right: 6px;
}