.InputWithPercentage {
  position: relative;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // border-radius: 5px;
  // align-items: center;
  // height: 50px;
  // padding-right: 6px;
  // justify-content: space-between;
  
  // padding: 0 15px;
  // background-color: #F5F7FA;

  &--active {

  }

  &--focused {
    // border: solid 1px #c4d1f5;
    // background-color: #fafbff;
    .InputWithPercentage__content {
      background-color: #fff;
      border: 1px solid #B4BDD6;
    }
  }

  &--invalid {
    .InputWithPercentage__content {
      background-color: #fff;
      border: 1px solid #F96A6A;
    }
  }

  &--opened {
    z-index: 9;
  }

  .Opener {
    // width: 72px;
    // width: 108px;
    width: 80px;
    margin-bottom: 0;
    border-radius: 8px;
    background-color: transparent !important;
  }

  .Opener__searchContainer {
    display: none;
  }
  
  .Opener__item {
    height: 39px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    
    &:first-of-type {
      min-width: 72px;
      background-image: url(/static/images/common/btn-down.svg);
      background-repeat: no-repeat;

      background-position: right 0px top 50%;
      background-size: 13px;
      text-align: right;
    }

    &--selected {
      .Opener__itemTitle {
        font-weight: 700;
        color: #265ffc;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .Opener__list {
    top: 100%;

    .Opener__item {
      min-width: unset;
    }
  }
}


.InputWithPercentage__input {
  @include font-style('font-1', 'b', 20px);
  color: #222222;
  // flex: 1;
  // width: 177px;
  width: 100%;
  background-color: transparent;
  border: 0;
  height: 100%;
  outline: 0;

  &::placeholder {
    color: #CACED9;
    font-weight: 500;
  }
}

.InputWithPercentage__image {
  width: 26px;
  height: 26px;
  margin-right: 8px;
  margin-left: -3px;
}

.InputWithPercentage__label {
  @include font-style('font-1', 'm', 16px);
  display: flex;
  align-items: center;
  color: #777D8F;
  line-height: 18px;
}

.InputWithPercentage__right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  display: flex;
  align-items: center;
}

.InputWithPercentage__warn {
  @include font-style('font-1', 'm', 14px);
  width: 100%;
  color: #FA5A5A;
  line-height: 20px;
  margin-top: 10px;
}

.InputWithPercentage__content {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  padding-right: 90px;

  border-radius: 5px;
  background-color: #F5F7FA;
}