.Modal {
  position: fixed;
  z-index: 9999;
  border-radius: 16px;
  padding: 35px 25px 25px;
  background-color: #fff;

  left: 0;
  bottom: 0;
  width: 100%;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @include desktop {
    // padding: 40px 30px;
    height: auto;
    width: 395px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 35px 30px 35px;
    border-radius: 10px;
  }

  &--mobileCoverAll {
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: unset;
    padding: 50px 0 0 0;

    .Modal__content {
      height: 100%;
      padding: 0 20px 35px;
    }

    @include desktop {
      height: auto;
      max-height: calc(90vh - 160px);
      padding-top: 40px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 35px 10px 0;
    }
  }

  &--animation-appear {
    animation: modal-popup-appear-transition 300ms;
    animation-timing-function: cubic-bezier(0.5, 0, 0.4, 1);
    animation-fill-mode: forwards;
  }

  &--animation-disappear {
    animation: modal-popup-disappear-transition 300ms;
    animation-timing-function: cubic-bezier(0.5, 0, 0.4, 1);
    animation-fill-mode: forwards;
  }
}

.Modal__header {
  display: flex;
  justify-content: space-between;
  color: #131414;
  padding-bottom: 20px;

  &--noTitle {
    padding-bottom: 0;
  }
}

.Modal__title {
  @include font-style('font-1', 'b', 22px);
  line-height: 30px;
}

.Modal__close {
  position: absolute;
  top: 18px;
  right: 18px;
  
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Modal__content {
  overflow: scroll;
  // max-height: calc(90vh - 160px);
  max-height: calc(90vh - 122px);

  @include font-style('font-1', 'm', 16px);
  color: #636878;
  line-height: 24px;
}

@keyframes modal-popup-appear-transition {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 0;
  }
}

@keyframes modal-popup-disappear-transition {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -100%;
  }
}