.Modal {
  position: fixed;
  z-index: 9999;
  border-radius: 8px;
  padding: 26px 24px 32px 24px;
  box-shadow: 0 2px 10px 0 rgba(24, 24, 24, 0.05);
  background-color: #fff;

  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @include desktop {
    padding: 28px 24px 32px 24px;
    height: auto;
    width: 580px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.Modal__header {
  display: flex;
  justify-content: space-between;
  color: #131414;
  padding-bottom: 22px;
  border-bottom: 2px solid #f2f2f2;


}

.Modal__title {
  @include font-style('font-1', 'b', 20px);
}

.Modal__close {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.Modal__content {
  padding-top: 24px;
  overflow: scroll;

  max-height: calc(90vh - 160px);
}