.Modal {
  position: fixed;
  z-index: 9999;
  border-radius: 10px;
  padding: 30px;
  background-color: #fff;

  left: 0;
  bottom: 0;
  width: 100%;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @include desktop {
    padding: 40px 30px;
    height: auto;
    width: 395px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.Modal__header {
  display: flex;
  justify-content: space-between;
  color: #131414;
  padding-bottom: 20px;

  &--noTitle {
    padding-bottom: 0;
  }
}

.Modal__title {
  @include font-style('font-1', 'b', 22px);
}

.Modal__close {
  position: absolute;
  top: 21px;
  right: 21px;
  
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.Modal__content {
  overflow: scroll;
  max-height: calc(90vh - 160px);

  @include font-style('font-1', 'm', 16px);
  color: #636878;
  line-height: 24px;
}