.Opener {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  z-index: 999;

  &--open {
    z-index: 9999;
  }

  &--top {
    .Opener__list {
      top: unset !important;
      bottom: 100%;
    }

    // .Opener__list {
    //   min-width: 140px;
    //   top: 120%;
    //   left: unset;
    //   transform: unset;
    //   right: -12px;

    //   .Opener__item {
    //     height: 28px;
    //     margin: 0 6px;
    //   }
    // }
  }
}

.Opener__list {
  position: absolute;
  max-height: 280px;
  overflow: scroll;
  z-index: 9;
  top: 102px;
  left: 0;
  width: 100%;
  padding: 10px 0;

  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .Opener__item {
    background-color: transparent;
    background-image: unset !important;
  }
}

.Opener__item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 48px;
  margin: 0 7px;
  border-radius: 8px;
  @include font-style('font-1', 'b', 14px);
  color: $white;
  padding: 0 12px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  background-color: #f2f2f2;
  transition: background-color 100ms;

  &:hover {
    background-color: #ebf0ff;

    .Opener__itemTitle {
      color: #3369ff !important;
    }
  }

  &:first-of-type {
    border-bottom: 0;
  }

  &--selected {
    // background-color: rgba(0, 0, 0, 0.4) !important;
    background-color: #ebf0ff !important;
    border-radius: 6px;
    margin-right: 0;
  }

  &--selectedRoot {
    margin-right: 0;
  }
}

.Opener__itemRight {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.Opener__itemTitle {
  @include font-style('font-1', 'b', 16px);
  color: #797b80;
  width: 100%;
}

.Opener__itemIcon {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  border-radius: 50%;
  position: relative;
  left: -14px;

  &:first-of-type {
    left: 0;
  }
}

.Opener__searchContainer {
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Opener__search {
  @include font-style('font-1', 'm', 13px);
  color: $white;
  background-image: url(/static/images/18-line-search.svg);
  background-position: left 10px top 50%;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding: 8px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);

  width: 100%;
  border: 0;
  outline: 0;
  height: 36px;

  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}