.QuestionMark {
  width: 19px;
  height: 19px;

  padding: 0 !important;
  margin-left: 4px; 
  cursor: pointer;

  // color: #A1A8BB;
  // border-radius: 50%;
  // border: 1px solid #D9DCE7;
  // background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.QuestionMark__title {
  @include font-style('font-1', 'b', 15px);
  color: #222222;
  line-height: 20px;
}

.QuestionMark__wrapper {
  display: flex;
  align-items: center;
}