.QuestionMark {
  width: 19px;
  height: 19px;

  padding: 0 !important;
  margin-left: 3px;
  cursor: pointer;

  color: #A1A8BB;
  border-radius: 50%;
  border: 1px solid #D9DCE7;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}