.RadioSet2 {
  display: flex;
  flex-direction: column;
}

.RadioSet2__item {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
  cursor: pointer;

  @include desktop {
    margin-bottom: 6px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--active {
    .RadioSet2__value {
      color: #f53c3c;
      line-height: 19px;
    }
  }
}

.RadioSet2__left {
  display: flex;
  align-items: center;
}

.RadioSet2__label {
  @include font-style('font-1', 'm', 16px);
  color: #333333;
  line-height: 19px;
  margin-right: 6px;

  @include desktop {
    @include font-style('font-1', 'm', 14px);
  }
}

.RadioSet2__value {
  @include font-style('font-1', 'm', 17px);
  color: #D0D3E0;
  line-height: 19px;

  @include desktop {
    @include font-style('font-1', 'm', 14px);
  }
}

.Circle {
  width: 20px;
  height: 20px;
  margin-right: 8px;

  @include desktop {
    margin-bottom: 6px;
  }
}