.RadioSet2 {
  display: flex;
  flex-direction: column;
}

.RadioSet2__item {

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--active {
    .RadioSet2__value {
      color: #f53c3c;
      line-height: 20px;
    }

    .Circle {
      border: 1px solid #416FFA;
    }
  }
}

.RadioSet2__left {
  display: flex;
  align-items: center;
}

.RadioSet2__label {
  @include font-style('font-1', 'm', 16px);
  color: #333333;
  line-height: 20px;

  @include desktop {
    @include font-style('font-1', 'm', 14px);
  }
}

.RadioSet2__value {
  @include font-style('font-1', 'm', 17px);
  color: #D0D3E0;

  @include desktop {
    @include font-style('font-1', 'm', 14px);
  }
}

.Circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  border: 1px solid #CCD3E8;
  background-color: #ffffff;
  margin-right: 6px;
  width: 18px;
  height: 18px;
}

.Circle__mini {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #416FFA;
}