.Tabs {
  display: flex;
  align-items: center;
  background-color: #EFF1F4;
  border-radius: 7px;
  height: 48px;
  padding: 0 3px;

  margin-bottom: 28px;
}

.Tabs__tab {
  @include font-style('font-1', 'sb', 16px);
  color: #4C505C;
  flex: 1;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 20px;

  &--active {
    @include font-style('font-1', 'b', 16px);
    color: #222222;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 13, 60, 0.1);
    border-radius: 5px;
  }
}