.Tip {
  background-color: #FFFFFF;
  border: 1px solid #CED3E1;
  box-shadow: 0px 9px 16px -6px rgba(14, 28, 71, 0.13);
  border-radius: 8px;

  padding: 20px 18px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 100%;
  top: 28px;
}

.Tip__close {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Tip__title {
  @include font-style('font-1', 'b', 16px);
  color: #222222;
  margin-bottom: 10px;
  line-height: 20px;
}

.Tip__description {
  @include font-style('font-1', 'm', 15px);
  color: #636878;
  line-height: 22px;
}