.WKLAYSwitcher {
  &--column {
    .WKLAYSwitcher__inputAndButton {
      flex-direction: column;
    }

    .WKLAYSwitcher__depositInput {
      width: 100%;
      margin-bottom: 17px;
    }

    .WKLAYSwitcher__wrapButton {
      width: 100%;
    }
  }
}

.WKLAYSwitcher__available {
  margin-top: 20px;
  display: flex;
  align-content: center;
  margin-bottom: 10px;
}

.WKLAYSwitcher__availableLabel {
  @include font-style('font-1', 'm', 14px);
  color: #787F98;
  line-height: 17px;
}

.WKLAYSwitcher__availableAmount {
  @include font-style('font-1', 'sb', 14px);
  color: #222222;
  line-height: 17px;
  margin-left: 5px;
}

.WKLAYSwitcher__inputAndButton {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .WKLAYSwitcher__depositInput {
    flex: auto;
    margin-right: 7px;
    margin-bottom: 0;
  }
}

.WKLAYSwitcher__wrapButton {
  @include button-1(50px);
  @include font-style('font-1', 'b', 16px);
  margin-top: 0;
  padding: 0 20px;
  line-height: 20px;
  white-space: nowrap;
}

.WKLAYSwitcher__willReceive {
  width: 100%;
  display: flex;
  align-content: center;
  margin: 17px 0;
}

.WKLAYSwitcher__willReceiveLabel {
  @include font-style('font-1', 'm', 15px);
  color: #777D8F;
}

.WKLAYSwitcher__willReceiveAmount {
  @include font-style('font-1', 'b', 15px);
  color: #265FFC;
  margin-left: 5px;
}